<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>{{ admin_bundle.title }}</title>

    <meta name="keywords" content="{{ admin_bundle.keywords }}">
    <meta name="description" content="{{ admin_bundle.description }}">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link href="{{ '/public/css/bootstrap.min.css'|gfut }}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ '/public/css/animate.min.css'|gfut }}" rel="stylesheet">
    <link href="{{ '/public/css/style.min.css'|gfut }}" rel="stylesheet">
    <style>
        .licence{width: 750px;margin: 50px auto;background-color: white;padding: 20px 35px;}
        .head_title{font-weight: 500;margin-bottom: 20px;}
        p{text-indent: 2em;line-height: 25px;}
        .panel-title{margin: 15px 0;}
        .table>tbody>tr>td{text-align:center;}
        .second_level{text-indent: 3em;}
    </style>
</head>
<body style="background:#f3f4f8;">
<div class="licence">
    <h2 class="head_title text-center">青松云商商品发布及服务协议</h2>
    <p>本协议用于“青松云商”商品管理工作，适用于青松云商平台所有第三方商户。请商户认真阅读本协议，严格遵循协议要求发布、销售商品。一旦本协议相关内容发生变动，青松云商将会通过网站公告等方式提示您。如果您不同意对本协议内容所做的修改，则应立即停止使用本服务；如果您继续使用本服务的，则视为您同意对本协议内容所做的修改。</p>
    <p>商户在注册时认真阅读并勾选本协议，则表明您同意并签署了本协议并同意遵守本协议中的约定，本协议将产生法律效力。商户使用青松云商期间的相关功能及服务时，受本协议的约束。</p>
    <h5 class="panel-title">一、店铺命名限制</h5>
    <p>（一）店铺命名限制</p>
    <p>1.为了防止店铺名称过长影响消费者体验，店铺名长度不得超过30个字符。</p>
    <p>2.店铺名不得与已经开通的店铺名称重复。如两个店铺同时申请同一店铺名，则依照申请在先原则审批开通店铺，未通过审批的店铺需要更换其他店铺名，并重新提交申请。</p>
    <p>3.店铺名称通过审批后无法修改，但店铺命名资质不符合本协议约定，或存在侵权等情形除外。</p>
    <p>4.店铺名称禁止出现各类联系方式，如电话、地址、邮箱等；</p>
    <p>5.根据相关法律法规及道德规范，您的店铺名中不得含有以下内容：</p>
    <p>(1)有损于国家、社会公共利益，或有损民族尊严。</p>
    <p>(2)含有封建文化糟粕、有消极政治影响、违背少数民族习俗或带有民族歧视内容。</p>
    <p>(3)可能对公众造成欺骗或者误解，或引起社会公众不良心理反应等情况。</p>
    <p>(4)外国国家（地区）名称/国际组织名称。</p>
    <p>(5)政党名称、党政军机关名称、群众组织名称、社会团体名称及部队番号或国家领导人及老一辈革命家的名字。</p>
    <p>(6)有不文明/格调低级/庸俗等不雅词汇。</p>
    <p>(7)出现电商平台（含青松云商）相关的敏感或标志性信息。</p>
    <p>(8)未经授权的情况下，使用品牌名称、明星或知名人士姓名。</p>
    <p>(9)其他法律行政法规规定禁止的。</p>
    <p>（二）各类店铺命名规则</p>
    <p>1.专卖店命名规则</p>
    <p>(1)定义：专卖店指商家持他人品牌（商标为R或TM状态）授权文件在青松云商开放平台开设的店铺。</p>
    <p>(2)专卖店有以下几种情形：</p>
    <p>①经营一个授权品牌的商品，但未获得品牌（商标）权利人独占授权入驻青松云商开放平台的商家专卖店。</p>
    <p>②经营多个授权品牌的商品，且各品牌归同一实际控制人的商家专卖店。</p>
    <p>(3)规则：以“XX（品牌名+企业商号）专卖店”命名，品牌名应为已经注册的商标（R状态)或正在受理注册中的商标（TM状态，注册申请时间须满六个月），商家应持有自该品牌（商标）权利人至商家的销售该品牌商品的完整授权链，如经营多个品牌的，各品牌应归同一实际控制人所有；如超出授权期未继续获得授权的，则不得再使用“XX专卖店”命名；企业商号，即字号，是企业名称中除行政区划/行业或者经营特点/组织形式外显著区别于其他企业的标志性文字。</p>
    <p>(4)命名形式：品牌名+企业商号+专卖店，如为多个品牌的，以该专卖店主打品牌名+企业商号+专卖店。</p>
    <p>2.专营店命名规则</p>
    <p>(1)定义：专营店指经营青松云商开放平台相同一级类目下两个及以上他人或自有品牌（商标为R或TM状态）商品的店铺。</p>
    <p>(2)专营店可以有以下几种情形：</p>
    <p>①相同一级类目下经营两个及以上他人品牌商品入驻青松云商开放平台的商家专营店。</p>
    <p>②相同一级类目下既经营他人品牌商品又经营自有品牌商品入驻青松云商开放平台的商家专营店。</p>
    <p>(3)规则：以“XX（企业商号+类目关键词）专营店”命名，商家在青松云商同一一级类目下经营两个及以上品牌商品，商家为商标权利人，或商家持有由品牌（商标）权利人发起的完整授权链的销售授权书。</p>
    <p>(4)命名形式：企业商号+类目关键词+专营店，不得以“XX（品牌名）专营店”命名。</p>
    <p>3.特殊情况说明</p>
    <p>(1)由于公司名称具有地域性特征，可能会造成企业商号出现重名的情况，从而导致店铺命名过程中出现重名的情况，如发生此类情形，可增加公司名称中的地域性词汇，启用如下命名规则：</p>
    <p>①专卖店：品牌名+ 企业商号（行政区域名）+专卖店</p>
    <p>②专营店：企业商号（行政区域名）+类目关键词+专营店</p>
    <p>(2)为避免不同行业下注册的相同或类似品牌给消费者带来误导的情况，当不同行业下注册的相同或类似品牌均在青松云商入驻开店时，青松云商开放平台有权要求其对店铺名称进行调整（考量因素包括但不限于商标的注册时间、所在行业的知名度等），商家在接到青松云商平台的更名通知之日起，需在三个工作日内提交更名申请，逾期未申请的青松云商有权对相关店铺名称进行调整。</p>
    <p>（三）店铺命名可选类目关键词表</p>
    <p>店铺命名可选类目关键词需与商家所经营的类目一致。</p>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td>一级分类</td>
            <td>种子/种苗</td>
            <td>农药/兽药</td>
            <td>农机/农具</td>
            <td>化肥</td>
            <td>饲料</td>
        </tr>
        <tr>
            <td rowspan="16">二级分类</td>
            <td>粮油种子</td>
            <td>杀虫剂</td>
            <td>农膜</td>
            <td>氮肥</td>
            <td>家畜饲料</td>
        </tr>
        <tr>
            <td>蔬菜种子</td>
            <td>杀菌剂</td>
            <td>温棚器材</td>
            <td>磷肥</td>
            <td>家禽饲料</td>
        </tr>
        <tr>
            <td>瓜果种子</td>
            <td>杀螨剂</td>
            <td>五金工具</td>
            <td>钾肥</td>
            <td>水产饲料</td>
        </tr>
        <tr>
            <td>香料种子</td>
            <td>杀鼠剂</td>
            <td>手工农具</td>
            <td>尿素</td>
            <td>饲草料</td>
        </tr>
        <tr>
            <td>药材种子/种苗</td>
            <td>除草剂</td>
            <td>发电工具</td>
            <td>复合肥</td>
            <td>浓缩饲料</td>
        </tr>
        <tr>
            <td>花卉种子/种苗</td>
            <td>植物生长调节剂</td>
            <td>种植施肥机械</td>
            <td>生物肥</td>
            <td>饲料添加剂</td>
        </tr>
        <tr>
            <td>水生种苗</td>
            <td>微生物农药</td>
            <td>排水灌溉机械</td>
            <td>腐殖酸</td>
            <td>其他饲料</td>
        </tr>
        <tr>
            <td>林木种苗</td>
            <td>原药</td>
            <td>土地耕整机械</td>
            <td>其他肥</td>
            <td> — </td>
        </tr>
        <tr>
            <td>果木种苗</td>
            <td>脱毒药</td>
            <td>植物保护机械</td>
            <td>微量元素肥</td>
            <td> — </td>
        </tr>
        <tr>
            <td>其他</td>
            <td>农禽药</td>
            <td>收获机械</td>
            <td> — </td>
            <td> — </td>
        </tr>
        <tr>
            <td>鹅苗</td>
            <td>家畜药</td>
            <td>收获后处理机械</td>
            <td> — </td>
            <td> — </td>
        </tr>
        <tr>
            <td>猪苗</td>
            <td>水产药</td>
            <td>畜牧水产养殖机械</td>
            <td> — </td>
            <td> — </td>
        </tr>
        <tr>
            <td>鱼苗</td>
            <td>宠物药</td>
            <td>设备原料配件</td>
            <td> — </td>
            <td> — </td>
        </tr>
        <tr>
            <td>鸭苗</td>
            <td>特种养殖药</td>
            <td>农业运输机</td>
            <td> — </td>
            <td> — </td>
        </tr>
        <tr>
            <td>鸡苗</td>
            <td>促生长药</td>
            <td>农用动力机械</td>
            <td> — </td>
            <td> — </td>
        </tr>
        <tr>
            <td>其他养殖苗</td>
            <td> — </td>
            <td>农产品加工机械</td>
            <td> — </td>
            <td> — </td>
        </tr>
        </tbody>
    </table>
    <p>（四）其他规定</p>
    <p>1.青松云商开放平台商家的行为，发生在本管理规则生效之日以前的，适用当时的规则。发生在本管理规则生效之日以后的，适用本规则。</p>
    <p>2.青松云商可根据平台运营情况随时调整本管理规则并向商家公示；商家入驻青松云商即表示接受青松云商其后不时调整、颁布的管理规则。</p>
    <p>3.商家应遵守国家法律、行政法规、部门规章等规范性文件。对任何涉嫌违反国家法律、行政法规、部门规章等规范性文件的行为，本规则已有规定的，适用于本规则。本规则尚无规定的，青松云商有权酌情处理。但青松云商对商家的处理不免除其应承担的法律责任。商家在青松云商的任何行为，应同时遵守与青松云商及其关联公司签订的各项协议；如有违约即视为对本规则的违反。</p>
    <p>4.本规则于2018年8月1日生效。</p>
    <h5 class="panel-title">二、商品信息发布限制</h5>
    <p>1.商家不得发布违法、违规商品信息，青松云商禁售商品信息请见<u><strong>九、标准参考</strong></u>；</p>
    <p>2.商家不得发布侵犯他人知识产权的商品信息；</p>
    <p>3.商家不得发布协议约定经营范围外的商品信息（如优惠劵）；</p>
    <p>4.商家不得发布假货、翻新货、水货、旧货、二手商品信息；</p>
    <p>5.商家不得发布批发、招商、代理、广告、海报等形式的广告商品信息；</p>
    <p>6.商家不得发布其他网站信息（如链接、账号、青松云商以外的平台标识、拼音、外文名称、LOGO等）；</p>
    <p>7.商家不得随意更换商品重要属性（如商品标题、商品种类、主图等）导致商品信息更换，从而把原产品改为其他产品，误导消费者购买；</p>
    <p>8.为了防止买家误解，建议商家商品信息中的重量、体积等规格单位以中文或大写形式呈现，如：千克（KG）、克（G）、升（L）等。</p>
    <p>9.未经青松云商允许商家不得在商品中添加实体店铺及电话等联系信息；</p>
    <p>10.完全相同的以及重要属性完全相同的产品，只允许发布一次；</p>
    <p>11.未经青松云商允许商家商品信息不得有青松云商首发或青松云商独家字样；</p>
    <p>12.商家不得发布任何广告窗口（如非青松云商平台的广告、广告浮窗等）；</p>
    <h5 class="panel-title">三、商品标题</h5>
    <p>1.商品标题及商品图片应与对应类目及商家经营的品牌一致，不得出现与商品无关的内容；</p>
    <p>2.商品标题规范：中文品牌（英文品牌）+商品名称/型号（系列）+基本属性+规格（材质、类型、用途、颜色、货号)非必填项，品牌名称必须前置其余商品标题，描述顺序视情况可调整。</p>
    <p>3.新型产品标题名称中可增加描述：年份+新产品来表示新品/新款，此描述应放置在品牌名称后面，其他商品描述要求不变；</p>
    <p>4.商品标题不得重复关键词或出现无关的关键词；</p>
    <p>5.商品命名中不得擅自使用他人注册商标描述产品。如：XX品牌史丹利化肥；</p>
    <p>6.商品标题和描述中不得有不科学的表示功效的断言或者保证；不得有与同类产品功效、性能进行比较的言论或画面、形象；不得使用专家、医生、患者、未成年人或科研、学术机构、单位的名义进行广告宣传；不得运用数字或图表宣传治疗效果；不得宣传不使用商家的产品可能导致买家利益受损或经受灾害的语言、文字、画面；不得含虚假/夸大/绝对化农资作用和效果的词语。</p>
    <p>7.商品短标题：商品中文品牌+英文品牌+商品关键词 （注：此条默认不开通，待第三方商家开通该功能后立即适用）；</p>
    <p>8.商品广告语要求语言精练、语意明确、有营销理念，禁止出现歧义、虚假信息、夸大商品功能或表述不清等情形。严禁文字、图片、视频等各类广告中出现的文字、形式等违反最新版《中华人民共和国广告法》的情形。</p>
    <h5 class="panel-title">四、商品主图图片</h5>
    <p>1.商品图片上传要求：图片尺寸800*400，单张图片小于10M，单次添加不超过10张图片；图片格式支持JPG、JPEG、PNG格式。图片应清晰，亮度充足，并且应满画布显示；</p>
    <p>2.图片不能有大面积黑投影或大区域反射环境物（如摄影者形象/影像），金属质感商品特别注意；图片所示商品颜色、规格等必须与商品文字介绍一致；</p>
    <p>3.每件商品需要提供三张及以上（含本数）不同角度商品图片，且至少一张商品主体正面图片作为主图（主图应展示产品的全部）；</p>
    <p>4.图片背景以各行业标准规定为准；图片一定要美观，图片中可以加入道具或装饰物作为衬托；如以白色背景拍摄的图片要求背景为纯白色；青松云商首页商品图片背景必须为纯白色背景；</p>
    <p>5.商品描述图片少用或者不用GIF等闪烁、动态图片；</p>
    <p>6.商家应对使用图片拥有著作权或合法的使用权；对于图片中涉及模特肖像的，商家应确保已获得肖像权人的授权，且在授权范围及有效期内合理使用；</p>
    <p>7.图片中不应该包括其它任何文字信息及二维码，包括营销敏感词、描述词语、第三方信息等，且不得出现水印、标签、角标等；</p>
    <p>8.图片中可添加品牌LOGO，具体添加规则以各行业标准规定为准。</p>
    <h5 class="panel-title">五、商品价格</h5>
    <p>1.商品价格分为原价、促销价、活动价等，原价单价及原价批发价为常规价格，促销价、活动价等价格以商品原价为折扣依据。</p>
    <p>2.商家应遵循市场规律，合理设定销售商品的价格及数量区间。商家产品价格不得与成本差异过大，且同款产品不得过于高出其他电商平台销售的同款产品价格。</p>
    <p>3.商家对未销售过的商品不得使用“原售价”、“成交价”、“折”、“新品折”等类似概念，误导消费者认为该商品有成交记录。</p>
    <p>4.商品价格应真实准确描述，不得出现错误标注、夸大事实等情形；</p>
    <p>5.商品价格应遵循《中华人民共和国价格法》等相关法律法规与行业标准，不得出现不正当价格行为，如低价倾销、哄抬价格、虚报价格、模糊标价、虚假打折等。</p>
    <p>6.商品价格一栏应仅为商品自身价格，不得含有运费或其他无关费用。物流费用等其他费用，商户应在对应费用栏或商品信息中单独标注。</p>
    <p>7.商家不得为吸引顾客购买恶意修改商品信息，影响商品搜索排序与买家体验，如突然降价且价格变动较大，并在用户购买时改回原价；在用户购买前突然加价，导致用户消费增加；修改商品数量导致用户以同一价格购买时产品数量减少，与商品宣传不符等。</p>
    <p>8.单品及专题活动价格描述必须符合逻辑，不得混淆参考价（即市场价、实体店价等）、青松云商价、活动价等信息，售价一律以青松云商网站前端页面展示出来的价格为准；</p>
    <p>9.商品活动价的折扣计算标准以活动前7日最低售价（以下简称“原价”）为基础，活动及单品表现出来的折扣信息不得高于(折后售价/原价)换算出来的折扣。原价是指经营者在本次降价前7日内在本经营场所成交的有交易票据的最低交易价格；如前7日内没有交易价格，则以本次降价前最后一次交易价格作为原价。</p>
    <p>10.商家参加青松云商组织的促销活动时，应确保在其承诺的商品价格有效期内开展促销，不得在促销期间擅自提价、擅自提前结束促销活动；如促销商品有数量限制的还必须明示参加促销活动的商品数量。青松云商有权按照促销活动规则对商家标示的价格进行核对。如商家违反价格承诺，青松云商可在核实情况后从商家的保证金中予以冻结、划扣<strong>以便向所有购买该商品者进行补偿服务</strong>，因此产生的所有费用及损失由商家自行承担。</p>
    <h5 class="panel-title">六、商品描述</h5>
    <p>1.商品描述建议图片和文字相结合（注：图文结合可提升商品搜索命中率）；</p>
    <p>2.商品描述信息包括：</p>
    <p>(1)商品实物图片（包含整体图片、细节图片及使用图片等）；</p>
    <p>(2)商品名称、种类、销售规格划分等；</p>
    <p>(3)商品的特点及优势等；</p>
    <p>(4)商品的详细使用说明；</p>
    <p>(5)商品包装信息、是否有配件及具体配件信息等；</p>
    <p>(6)商品发货时间及物流运输方式；</p>
    <p>(7)服务承诺及退换货标准等。</p>
    <p>3.商品介绍的图片必须清晰，商品介绍页面整体宽度不超过740px；</p>
    <p>4.商品页面不允许出现其他购物网址的链接或提示，不允许出现商家自有的客服、销售电话及售后服务电话、网址等联系方式以及商家实体店等相关信息（经青松云商书面特别审批可以公布的除外）；</p>
    <p>5.不得出现“xx最低、包邮、收配送费（经特批同意除外）、影响客户理解的错别字、正品、行货、保真、xx专供、xx特供、“本公司”等不符合青松云商商城用语大环境的词语；</p>
    <p>6.不得出现“第一”、“最好”、“自杀价”、“万人好评”等营销敏感词；</p>
    <p>7.商品介绍不得出现虚假、夸大等与产品信息不一致的表述，如：功效、成分等方面的介绍；</p>
    <p>8.无商标使用权的商家在商品详情描述时不允许在任何位置出现品牌LOGO及商标；</p>
    <p>9.同一商家的同一品牌的LOGO及商标必须体现统一颜色和形式，且LOGO及商标不得为水印形式；</p>
    <p>10.商品描述时不得出现以下不对称的促销信息：</p>
    <p>（1）单个商品信息有标识价格，点击进入商品详情页后青松云商价与标识价格不一致的；</p>
    <p>（2）活动链接图：图片上描述的促销时间已经过期，或者图片上描述的信息和点击进入商品详情页后的信息不一致；</p>
    <p>（3）所有内容必须与商品或商家品牌介绍、企业信息简介等自身属性相关；</p>
    <p>（4）不得出现其它（非青松云商）平台或竞争对手的标识及其余明显复制、抄袭非开放平台的内容等可能涉及侵犯第三方合法权益的内容。</p>
    <h5 class="panel-title">七、商品发布审核</h5>
    <p>商户发布商品后，青松云商平台将对商品信息进行审核。审核通过后商品会正常上架并予以显示，审核不通过平台将通知商户进行修改，修改后进行再次审核，通过后进行上架。</p>
    <p>（一）审核失败原因例举</p>
    <p>1.商品属于禁止和限制发布物品，不符合相关管理规则。</p>
    <p>2.属于重复铺货商品。</p>
    <p>3.支付方式不符商品管理规则。</p>
    <p>4.属于信用炒作商品。</p>
    <p>5.属于广告商品。</p>
    <p>6.商品放错类目/属性。</p>
    <p>7.商品信息中乱用关键字。</p>
    <p>8.标题、图片、描述等不符合本协议涉及的相关要求，或资料不全。</p>
    <p>9.夸大商品功效、作用或功能。</p>
    <p>10.违反商品管理补充规则及其他相关规则。</p>
    <p>（二）重复铺货商品</p>
    <p>定义：完全相同以及商品的重要属性完全相同的商品，只允许发布一次。违反以上规则，即可判定为重复发布,并将受到青松云商的相关处罚。</p>
    <p>细则: 本定义中所指重要属性为： </p>
    <p>(1)颜色：同款商品不允许不同颜色分别发布；</p>
    <p>(2)大小规格：同款商品不允许以大小规格不同分开发布；</p>
    <p>(3)同款商品不允许附带不同的附赠品或附带品分别发布；</p>
    <p>(4)同款商品，通过更改其价格、时间、数量、组合方式及其它发布形式进行多次发布，属于重复铺货（包含但不仅限于如下情况：一件商品每天发布一次等） </p>
    <p>(5)服务类商品，以相同价格、相同服务的不同表现形式发布，属于重复铺货。</p>
    <p>(6)其它青松云商认定为重复铺货的商品发布情况 。</p>
    <p>（三）支付方式不符商品管理规则</p>
    <p>商家在商品信息中拒绝使用电子支付平台或者违反电子支付流程（包括但不限于在商品标题或商品描述中等其他方式拒绝使用电子支付平台，违反流程如在商品信息中要求买家必须先确认收货后才发货等），青松云商判定其商品为支付方式不符商品。</p>
    <p>（四）信用炒作商品</p>
    <p>定义：买卖双方以抬高信用为目的而发布的商品，青松云商判定为信用炒作商品。</p>
    <p>细则：</p>
    <p>发布纯信息，即无独立载体信息；包含但不仅限于如下情况：赚钱方法、会员招募、商品知识介绍、免费信息以及购物体验介绍等。 </p>
    <p>发布免费获取、低价商品；包含但不仅限于如下情况：无偿从发行方获得的优惠券或资格权、免费商品、软件下载、电子刊物（凡是通过网络传输的一切电子商品）、电子邮件地址邀请等；1元以下虚拟类商品；1元及1元以下服务类商品等等. </p>
    <p>在商品留言、商品描述中有明显换好评行为的文字内容的商品。 </p>
    <p>将一件商品拆分为多个页面发布，属于信用炒作商品。包含但不仅限于如下情况：商品和商品的运费分开发布。 </p>
    <p>（五）广告商品</p>
    <p>定义：商品描述不详、无实际商品、仅提供发布者联系方式以及非商品信息的商品（住宅类除外），青松云商判定为发布广告商品。</p>
    <p>细则：</p>
    <p>以一口价或其他方式发布已经出售或者仅供欣赏的商品；</p>
    <p>发布自己或者别人生活照、实体店铺的店面图片或者介绍、品牌故事、行业知识或者纯粹贴图（供人欣赏的商品）等；</p>
    <p>以批发、代理、已售勿拍、广告、海报、招商等形式发布的商品；</p>
    <p>发布相关免费网站注册的信息；</p>
    <p>发布仅提供发布者联系方式或其它非出售商品信息的商品 。</p>
    <h5 class="panel-title">八、违规处理</h5>
    <p>商家发布的商品信息如不符合本规范，青松云商将依据<a data-pjax href="/admin/agreement/1.html" target="_blank">《青松云商商户服务协议》</a>等平台规则及签署的相关服务协议进行处理，并有权立即下架或删除相关商品信息。</p>
    <h5 class="panel-title">九、标准参考</h5>
    <p>青松云商开放平台各行业标准可能随青松云商的业务变动增加或删改。若青松云商开放平台相关标准与各行业标准不一致的，以各行业标准及国家相应标准为准。本协议中为涉及的相关标准，请商户遵循国家标准。</p>
    <h5 class="panel-title">十、农药禁售清单</h5>
    <p>依据农业部《限制使用农药名录（2017版）》，青松云商管控的农药禁止生产、销售或使用的名单如下：</p>
    <p>32种限制使用农药为甲拌磷、甲基异柳磷、克百威、磷化铝、硫丹、氯化苦、灭多威、灭线磷、水胺硫磷、涕灭威、溴甲烷、氧乐果、百草枯、2，4-滴丁酯、C型肉毒梭菌毒素、D型肉毒梭菌毒素、氟鼠灵、敌鼠钠盐、杀鼠灵、杀鼠醚、溴敌隆、溴鼠灵、丁硫克百威、丁酰肼、毒死蜱、氟苯虫酰胺、氟虫腈、乐果、氰戊菊酯、三氯杀螨醇、三唑磷、乙酰甲胺磷（前22种农药实行定点经营）。</p>
    <p>上述农药，标签应当标注“限制使用”字样，并注明使用的特别限制和特殊要求；用于食用农产品的，标签还应当标注安全间隔期。同时要求对此名录中的前22种农药实行定点经营，其他农药实行定点经营的时间由农业部另行规定。</p>
    <p class="text-right">修机机构：  青松云商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p class="text-right">修订日期:：2018年7月30日</p>
    <p class="text-right">生效日期：2018年 8月 1 日</p>
</div>
</body>
<script src="{{ '/public/js/jquery.min.js'|gfut }}"></script>
</html>