<div class="page-content">
    <div class="panel">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-body container-fluid">
                    <div class="pull-left form-inline clearfix" style="min-height: 60px;height: auto;padding: 10px 8px;">
                        <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                            <div class="input-group">
                                <input placeholder="请输入用户姓名" id="f_name" name="f_name" class="form-control" value="{{ param.f_name }}" type="text">
                            </div>
                            <div class="input-group">
                                <input placeholder="请输入注册手机号" id="f_phone" name="f_phone" class="form-control" value="{{ param.f_phone }}" type="text">
                            </div>
                            <div class="input-group">
                                <select class="form-control" id="f_status" name="f_status">
                                    <option value="">--请选择处理状态--</option>
                                    <option {% if param.f_status == '-1' %} selected="selected" {% endif %}value="-1">全部</option>
                                    <option {% if param.f_status == '0' %} selected="selected" {% endif %} value="0">未处理</option>
                                    <option {% if param.f_status == '2' %} selected="selected" {% endif %} value="2">已处理</option>
                                    <option {% if param.f_status == '1' %} selected="selected" {% endif %} value="1">处理中</option>
                                </select>
                            </div>
                            <span>
                                <button type="button" onclick="get{{ tabid }}Page();" class="btn btn-primary"> 搜索</button>
                                <button type="button" onclick="refreshInfo()" class="btn btn-default">清空</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-bordered table-hover dataTable table-striped width-full text-nowrap">
                            <thead>
                            <tr>
                                <th>用户姓名</th>
                                <th>注册手机号</th>
                                <th>反馈时间</th>
                                <th>处理状态</th>
                                <th>处理人</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if feed_list %}
                            {% for key,feed in feed_list %}
                                <tr>
                                    <td>{{ feed.ui_true_name }}</td>
                                    <td>{{ feed.fd_user_name }}</td>
                                    <td>{{ feed.fd_time|date("Y-m-d H:i:s") }}</td>
                                    <td>{% if feed.fd_status == 2 %}已处理{% elseif feed.fd_status == 1 %}处理中{% else %}未处理{% endif %}</td>
                                    <td>{{ feed.fd_op_name }}</td>
                                    <td>
                                        <a data-pjax class="btn btn_ btn-outline btn-primary" onclick="mopen('/feed/showdofeed.html?fdId='+{{ feed.fd_id }},'意见反馈',null,['600px', '400px'],editFeedback);"  target="_blank">查看/处理</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <tr>
                                    <td align="center" colspan="6"><font color="red">暂无数据!</font></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12 margin-top-10">
                        <div class="dataTables_paginate paging_simple_numbers pull-right" id="dataTableExample_paginate" style="padding: 5px;">
                            {{ page|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function get{{ tabid }}Page(nums){
        nums = (nums>0) ? nums : 1;
        var name = $('#f_name').val();
        var phone = $('#f_phone').val();
        var f_status = $('#f_status').val();
        var obj=new Object();
        obj.f_name = name;
        obj.f_phone = phone;
        obj.f_status = f_status;
        onPage(nums,window.location.href,obj);
    }

    function editFeedback() {
        fsubmit($('#feedbackForm'),function (d) {
            if(d.code == 200){
                msg(d.msg,null,1);
                setTimeout(function () {
                    if (d.code == "200") {
                        $.pjax({url: '/feed/feed_list.html', container: '#admui-pageContent'});
                    }
                },1000)
            }else{
                alert(d.msg)
            }
        });
    }

    function refreshInfo() {
        $.pjax({url: '/feed/feed_list.html', container: '#admui-pageContent'});
    }
</script>