<style>
    .del_btn{
        cursor: pointer;
    }
    /*  表单向导完成状态的样式 */
    .complete_state{
        display: inline-block;
        margin: 50px 0 30px;
        border: 2px solid #00b400;
        color: #00b400;
        border-radius: 50%;
    }
    .form-bolck .example-wrap input,.form-bolck .example-wrap select{
        display: inline-block;
        width: 90%;
    }
    .must{
        line-height: 5px;
        vertical-align: bottom;
    }
    .chosen-container{
        width: 100%!important;
    }
</style>

<div class="page-content" id="photo_box">
    <div class="row">
        <div class="col-md-12">
            <div class="panel" id="partner_authenticationForm">
                <div class="panel-heading">
                    <h3 class="panel-title">商家认证</h3>
                </div>
                <div class="panel-body">
                    <div class="pearls row">
                        <div class="pearl current col-xs-4">
                            <div class="pearl-icon"><i class="icon wb-user" aria-hidden="true"></i></div>
                            <span class="pearl-title">填写商家资料</span>
                        </div>
                        <div class="pearl col-xs-4 disabled">
                            <div class="pearl-icon"><i class="icon wb-payment" aria-hidden="true"></i></div>
                            <span class="pearl-title">上传文件资料</span>
                        </div>
                        <div class="pearl col-xs-4 disabled">
                            <div class="pearl-icon"><i class="icon wb-check" aria-hidden="true"></i></div>
                            <span class="pearl-title">审核状态</span>
                        </div>
                    </div>
                       <form class="wizard-content" action="{{ path('admin_partner_edit', {'id': partner.partnerId | default(0) }) }}" onsubmit="fsubmit(this);return false;"  enctype="multipart/form-data" name="submitbaseinfo" id="submitbaseinfo">
                        <div class="wizard-pane active" id="exampleAccount" role="tabpanel">
                            <div id="exampleAccountForm">
                                <div class="form-group">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">个人基本信息</h3>
                                    </div>
                                    <div class="padding-20 padding-top-0 clearfix">
                                        <div class="row row-lg">
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title"><span class="must">*</span>姓名</h4>
                                                    <input type="text" class="form-control" id="inputDisabled" placeholder="请输入仓库名称" readonly value="{{ adminUser.aTrueName }}" required aria-required="true">
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title"><span class="must">*</span>身份证号</h4>
                                                    <input type="text" value="{{ adminUser.aIdentNo }}" class="form-control" placeholder="请输入身份证号" readonly required aria-required="true">
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">

                                                <div class="example-wrap">
                                                    <h4 class="example-title"><span class="must">*</span>性别</h4>
                                                    <input type="text" value="{{ adminUser.aIdentNo | getSexByIdCard }}" class="form-control" placeholder="请输入性别" readonly required aria-required="true">
                                                </div>

                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title"><span class="must">*</span>出生日期</h4>
                                                    <input value="{{ adminUser.aIdentNo | getBirthDayByIdCard}}" type="text" class="form-control" readonly placeholder="请输入出生日期" required aria-required="true">
                                                </div>

                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title"><span class="must">*</span>年龄</h4>
                                                    <input type="text" value="{{ adminUser.aIdentNo | getAgeByIdCard}}" class="form-control" placeholder="请输入您的年龄" readonly required aria-required="true">
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title"><span class="must">*</span>婚姻状况</h4>
                                                    <select name="marital_status" class="form-control">
                                                        <option value="">--请选择--</option>
                                                        {% for k,v in maritalStatus %}
                                                            <option {% if k == adminUser.aMaritalStatus %} selected {% endif %} value="{{ k }}">{{ v }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row row-lg">
                                            <div class="form-bolck col-sm-12">
                                                <div class="example-wrap clearfix">
                                                    <h4 class="example-title"><span class="must">*</span>居住地址</h4>
                                                    <div class="col-md-4">
                                                        <select name="provinces" id="provinces" class="chosen-select" data-rule-required="true" required onchange="getCity(this.value)">
                                                            <option value="">--请选择省--</option>
			                                                {% for pro in province_lists %}
                                                                <option value="{{ pro.city_key }}"
				                                                        {% if adminUser.aProvince == pro.city_key %}selected{% endif %}>{{ pro.city_name }}</option>
			                                                {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <select name="city" id="city" class="chosen-select" data-rule-required="true" onchange="getArea(this.value)">
                                                            <option value="">--请选择市--</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <select name="area" id="county" class="chosen-select" data-rule-required="true">
                                                            <option value="">--请选择县/区--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">

                                                <div class="example-wrap margin-sm-0">
                                                    <h4 class="example-title"><span class="must">*</span>详细地址</h4>
                                                    <input name="live_address" type="text" class="form-control" value="{{ adminUser.aDetailAddress }}" placeholder="">
                                                </div>

                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title"><span class="must">*</span>住宅电话</h4>
                                                    <input name="home_phone" type="text" class="form-control" value="{{ adminUser.aHomePhone }}" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">电子邮箱</h4>
                                                    <input name="email" type="text" value="{{ adminUser.aiEmail }}" class="form-control" placeholder="">
                                                </div>

                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title"><span class="must">*</span>教育程度</h4>
                                                    <select name="degree" class="form-control">
                                                        <option>--请选择--</option>
                                                        {% for k,v in educateStatus %}
                                                            <option {% if k == adminUser.aDegree %} selected  {% endif %} value="{{ k }}">{{ v }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title"><span class="must">*</span>共同居住人</h4>
                                                    {#<div class="col-sm-3 control-text">
                                                          <span>
                                                              <input type="checkbox" class="i-checks" name="ui_together_live_person[po]"
                                                                     value="1" {% if apply_info.ui_together_live_person.po == 1 %}checked{% endif %}>配偶&nbsp;&nbsp;&nbsp;
                                                              <input type="checkbox" class="i-checks" name="ui_together_live_person[fm]"
                                                                     value="2"
                                                                     {% if apply_info.ui_together_live_person.fm == 2 %}checked{% endif %}>父母&nbsp;&nbsp;&nbsp;
                                                              <input type="checkbox" class="i-checks" name="ui_together_live_person[zn]"
                                                                     value="3"
                                                                     {% if apply_info.ui_together_live_person.zn == 3 %}checked{% endif %}>子女&nbsp;&nbsp;&nbsp;
                                                              <input type="checkbox" class="i-checks" name="ui_together_live_person[qt]"
                                                                     value="4"
                                                                     {% if apply_info.ui_together_live_person.qt == 4 %}checked{% endif %}>其他
                                                          </span>
                                                    </div>#}
                                                    <input name="together_live_person" type="text" value="{{ adminUser.togetherLivePerson }}" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">商品信息</h3>
                                    </div>
                                    <div class="padding-20 padding-top-0 clearfix">
                                        <div class="col-sm-10">
                                            <div class="example-wrap">
                                                <h4 class="example-title"><span class="must">*</span>销售品类：</h4>
                                                <div class="checkbox-custom checkbox-primary col-sm-offset-1">
                                                    {% for cate in salesCategory %}
                                                        <div class="col-md-3 col-xs-6 margin-bottom-10">
                                                            <input value="{{ cate.gcId }}" type="checkbox" name="partner_intention[]"  {% if cate.gcId | inarray(partner.partnerIntention) %} checked="checked" {% endif %}>
                                                            <label>{{ cate.gcName }}</label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">联系人信息</h3>
                                    </div>
                                    <div class="padding-20 padding-top-0">
                                        <button type="button" class="btn btn-success margin-bottom-15" id="contacts_add">新增联系人</button>
                                       <div class="table-responsive">
                                           <table class="table table-bordered table-hover dataTable table-striped width-full table_add" id="contacts_list">
                                               <thead>
                                               <tr>
                                                   <th>姓名</th>
                                                   <th>手机号</th>
                                                   <th>身份证号</th>
                                                   <th>性别</th>
                                                   <th>居住地址</th>
                                                   <th>职业</th>
                                                   <th>年龄</th>
                                                   <th>操作</th>
                                               </tr>
                                               </thead>
                                               <tbody>
                                               {% for key,adminContact in adminContacts %}
                                                   <tr>
                                                       <td><input name="contact_name[]" type="text" class="input_hidden" value="{{ adminContact.contactName }}"></td>
                                                       <td><input name="contact_phone[]" type="text" class="input_hidden" value="{{ adminContact.phone }}"></td>
                                                       <td><input name="contact_card[]" type="text" class="input_hidden" value="{{ adminContact.identNo }}"  onblur="checkCard($(this),'.contact_sex','.contact_age')"></td>
                                                       <td><input name="contact_sex[]" type="text" class="input_hidden contact_sex" value="{{ adminContact.sex }}"></td>
                                                       <td><input name="contact_address[]" type="text" class="input_hidden" value="{{ adminContact.liveAddress }}"></td>
                                                       <td><input name="contact_profession[]" type="text" class="input_hidden" value="{{ adminContact.profession }}"></td>
                                                       <td><input name="contact_age[]" type="text" class="input_hidden contact_age" value="{{ adminContact.age }}"></td>
                                                       <input name="contact_id[]" type="hidden" class="input_hidden" value="{{ adminContact.id | default(0) }}">
                                                       <td>
                                                           <a class="del_btn">删除</a>
                                                       </td>
                                                   </tr>
                                               {% endfor %}
                                               </tbody>
                                           </table>
                                       </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">经营信息</h3>
                                    </div>
                                    <div class="padding-20 padding-top-0">
                                        <div class="row row-lg">
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">经营地址</h4>
                                                    <input name="business_address" type="text" class="form-control" value="{{  partnerInfo.manageInfo | getValueByJson('business_address') }}" placeholder="省市县">
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">详细地址</h4>
                                                    <input name="business_detail_address" type="text" value="{{  partnerInfo.manageInfo | getValueByJson('business_detail_address') }}" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">过往平均赊销占比</h4>
                                                    <input name="past_average_credit_sales" type="text" value="{{  partnerInfo.manageInfo | getValueByJson('past_average_credit_sales') }}" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">年销售额</h4>
                                                    <input name="annual_sales" type="text" class="form-control" value="{{  partnerInfo.manageInfo | getValueByJson('annual_sales') }}" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">毛利率</h4>
                                                    <input name="gross_interest_rate" type="text" value="{{  partnerInfo.manageInfo | getValueByJson('gross_interest_rate') }}" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">净利率</h4>
                                                    <input name="net_interest_rate" type="text" value="{{  partnerInfo.manageInfo | getValueByJson('net_interest_rate') }}" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row row-lg">
                                            <div class="form-bolck col-sm-12">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">其他经营信息</h4>
                                                    <textarea name="other_manage_info" class="form-control" id="textareaDefault" rows="3">{{ partnerInfo.manageInfo | getValueByJson('other_manage_info') }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">资产信息</h3>
                                    </div>
                                    <div class="padding-20 padding-top-0">
                                        <div class="row row-lg">
                                            <div class="form-bolck col-sm-6">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">应收款</h4>
                                                    <input name="receivables" type="text" value="{{  partnerInfo.assetInfo | getValueByJson('receivables') }}" class="form-control" >
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-6">
                                                <div class="example-wrap margin-sm-0">
                                                    <h4 class="example-title">存货（种类及数量）</h4>
                                                    <input name="stock" type="text" class="form-control" value="{{  partnerInfo.assetInfo | getValueByJson('stock') }}" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-12">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">车辆信息（请输入车辆的品牌、型号、购买时间、购买价格等信息）</h4>
                                                    <textarea name="vehicle_information" class="form-control" id="textareaDefault" rows="3">{{  partnerInfo.assetInfo | getValueByJson('vehicle_information') }}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-12">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">住宅信息（请输入住宅类型：商品房、自建房、宅基地、租赁，居住年限）</h4>
                                                    <textarea name="house_information" class="form-control" id="textareaDefault" rows="3">{{  partnerInfo.assetInfo | getValueByJson('house_information') }}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-12">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">门店信息（请输入住宅类型：商品房、自建房、宅基地、租赁，居住年限）</h4>
                                                    <textarea name="store_information" class="form-control" id="textareaDefault" rows="3">{{  partnerInfo.assetInfo | getValueByJson('store_information') }}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-12">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">其他资产信息</h4>
                                                    <textarea name="other_asset_information" class="form-control" id="textareaDefault" rows="3">{{  partnerInfo.assetInfo | getValueByJson('other_asset_information') }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">负债信息</h3>
                                    </div>
                                    <div class="padding-20 padding-top-0">
                                        <div class="row row-lg">
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">银行贷款</h4>
                                                    <input name="bank_loan" type="text" class="form-control" value="{{  partnerInfo.debtInfo | getValueByJson('bank_loan') }}" />
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">小贷公司借款</h4>
                                                    <input name="company_loan" type="text" value="{{  partnerInfo.debtInfo | getValueByJson('company_loan') }}" class="form-control" >
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">私人借款</h4>
                                                    <input name="private_loan" type="text" value="{{  partnerInfo.debtInfo | getValueByJson('private_loan') }}" class="form-control" >
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-12">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">其他负债信息</h4>
                                                    <textarea name="other_debt_loan" class="form-control" id="textareaDefault" rows="3">{{  partnerInfo.debtInfo | getValueByJson('other_debt_loan') }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">受理信息</h3>
                                    </div>
                                    <div class="padding-20 padding-top-0">
                                        <div class="row row-lg">
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">受理营业部</h4>
                                                    <div class="form-group">
                                                        <select name="accept_department" class="form-control">
                                                            <option>--请选择--</option>
                                                            {% for department in departments %}
                                                                <option {% if department.dtId == partnerInfo.acceptDepartment %} selected {% endif %} value="{{ department.dtId }}">{{ department.dtName }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title">营业部经理</h4>
                                                    <input name="sale_manager" type="text" value="{{ partnerInfo.saleManager }}" class="form-control" >
                                                </div>
                                            </div>
                                            <div class="form-bolck col-sm-6 col-md-4">
                                                <div class="example-wrap">
                                                    <h4 class="example-title"><span class="must">*</span>办理人员</h4>
                                                    <input name="accept_officer" type="text" value="{{ partnerInfo.acceptOfficer }}" class="form-control" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-body container-fluid">
                                        <div class="col-sm-12 col-sm-offset-3" style="margin: 20px 0;text-align: center;">
                                            <button onclick="partnerCacheInfo()" class="btn btn-success" style="padding: 8px 26px;font-size:16px;margin-right: 30px" type="button">暂存</button>
                                            <button id="nextButton" class="btn btn-primary btn_next" style="padding: 8px 26px;font-size:16px;margin-right: 30px" type="button">下一步</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wizard-pane" id="exampleBilling" role="tabpanel">
                            <div id="exampleBillingForm">
                                <div class="form-group">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">上传资料</h3>
                                    </div>
                                    <div class="padding-20 padding-top-0 clearfix">
	                                    {#{% for key,item in partnerDaturm %}#}
                                        <div class="col-md-12">

                                        {% if partnerDaturm is not empty %}

	                                        {% if partnerDaturm['a'] is not empty %}

                                                <legend class="lt-bar panel-title">{{ attribute(admin_bundle.file_type,'a') }}</legend>
                                                <div class="form-group file_list clearfix">
                                                    <div class="gallerys col-sm-offset-1 col-sm-8 filelist_{{ partner.partnerId | default(0) }}_a">


                                                        {% for d in partnerDaturm['a'] %}
                                                            <div class="file-box">
                                                            <span class="cancel" data-id="{{ d.id }}" data-type="{{ d.pd_type }}">删除</span>
                                                            <div class="file">
                                                                <span class="corner"></span>
                                                                <div class="image imgWrap">
                                                                    <img alt="image"  class="gallery-pic active img-responsive center-block" src="{{ admin_bundle.fileHost }}{{d.pd_url}}" onclick="openPhotoWin(this)">

                                                                </div>
                                                                <div class="file-name">
                                                                    {{ attribute(admin_bundle.file_type,d.pd_type) }}-{{ loop.index }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                            <input type="hidden" name="idUpload[]" value="{{ d.pd_url }}">
                                                        {% endfor %}
                                                        <div class="file-box" style="width: 140px !important;">
                                                            <div class="file">
                                                                <a href="javascript:void(0);" onclick="mopen('/upload/upload.html?p_id={{ partner.partnerId | default(0) }}&f_type=a','资料图片上传',null,['750px','auto']);">
                                                                    <span class="corner"></span>
                                                                    <div class="image imgWrap">
                                                                        <img alt="image" class="img-responsive center-block" width="100%" src="/public/img/upload.png">
                                                                    </div>
                                                                    <div class="file-name">
                                                                        点击上传图片
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            {% else %}
                                            <legend class="lt-bar panel-title"><span class="must" style="line-height: initial;vertical-align: top;">*</span>上传证件：</legend>
                                                <div class="form-group file_list clearfix">
                                                    <div class="gallerys col-sm-offset-1 col-sm-8 filelist_{{ partner.partnerId | default(0) }}_a">
                                                        <div class="file-box" style="width: 140px !important;">
                                                            <span class="cancel delGcate" >删除</span>
                                                            <div class="file">
                                                                <a href="javascript:void(0);" onclick="mopen('/upload/upload.html?p_id={{ partner.partnerId | default(0) }}&f_type=a','资料图片上传',null,['750px','auto']);">
                                                                    <span class="corner"></span>
                                                                    <div class="image imgWrap">
                                                                        <img alt="image" class="img-responsive center-block" width="100%" src="/public/img/upload.png">
                                                                    </div>
                                                                    <div class="file-name">
                                                                        证件资料
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <span class="col-sm-offset-1" style="font-size: 13px;font-weight: 500;">图片上传要求：单张图片小于10M，单次添加不超过10张图片；图片格式支持JPG、JPEG、PNG格式。</span>

	                                        {% if partnerDaturm['g'] is not empty %}
                                                <legend class="lt-bar panel-title">{{ attribute(admin_bundle.file_type,'g') }}</legend>
                                                <div class="form-group file_list clearfix">
                                                    <div class="gallerys col-sm-offset-1 col-sm-8 filelist_{{ partner.partnerId | default(0) }}_g">


				                                        {% for d in partnerDaturm['g'] %}
                                                            <div class="file-box">
                                                                <span class="cancel" data-id="{{ d.id }}" data-type="{{ d.pd_type }}">删除</span>
                                                                <div class="file">
                                                                    <span class="corner"></span>
                                                                    <div class="image imgWrap">
                                                                        <img alt="image"  class="gallery-pic active img-responsive center-block" src="{{ admin_bundle.fileHost }}{{d.pd_url}}" onclick="openPhotoWin(this)">
                                                                    </div>
                                                                    <div class="file-name">
								                                        {{ attribute(admin_bundle.file_type,d.pd_type) }}-{{ loop.index }}
                                                                    </div>
                                                                </div>
                                                            </div>

				                                        {% endfor %}
                                                        <div class="file-box" style="width: 140px !important;">
                                                            <div class="file">
                                                                <a href="javascript:void(0);" onclick="mopen('/upload/upload.html?p_id={{ partner.partnerId | default(0) }}&f_type=g','资料图片上传',null,['750px','auto']);">
                                                                    <span class="corner"></span>
                                                                    <div class="image imgWrap">
                                                                        <img alt="image" class="img-responsive center-block" width="100%" src="/public/img/upload.png">
                                                                    </div>
                                                                    <div class="file-name">
                                                                        点击上传图片
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            {% else %}
                                                <legend class="lt-bar panel-title">其他资料：</legend>
                                                <div class="form-group file_list clearfix">
                                                    <div class="gallerys col-sm-offset-1 col-sm-8 filelist_{{ partner.partnerId | default(0) }}_g">
                                                        <div class="file-box" style="width: 140px !important;">
                                                            <div class="file">
                                                                <a href="javascript:void(0);" onclick="mopen('/upload/upload.html?p_id={{ partner.partnerId | default(0) }}&f_type=g','资料图片上传',null,['750px','auto']);">
                                                                    <span class="corner"></span>
                                                                    <div class="image imgWrap">
                                                                        <img alt="image" class="img-responsive center-block" width="100%" src="/public/img/upload.png">

                                                                    </div>
                                                                    <div class="file-name">
                                                                        其他资料
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
	                                        {% endif %}
                                            <span class="col-sm-offset-1" style="font-size: 13px;font-weight: 500;">图片上传要求：单张图片小于10M，单次添加不超过10张图片；图片格式支持JPG、JPEG、PNG格式。</span>
                                        {% else %}
                                            <legend class="lt-bar panel-title"><span class="must" style="line-height: initial;vertical-align: top;">*</span>上传证件：</legend>
                                            <div class="form-group file_list clearfix">
                                                <div class="gallerys col-sm-offset-1 col-sm-8 filelist_{{ partner.partnerId | default(0) }}_a">
                                                    <div class="file-box" style="width: 140px !important;">
                                                        <span class="cancel cancelGcate" data-id="{{ gcate_info.gcId }}" >删除</span>
                                                        <div class="file">
                                                            <a href="javascript:void(0);" onclick="mopen('/upload/upload.html?p_id={{ partner.partnerId | default(0) }}&f_type=a','资料图片上传',null,['750px','auto']);">
                                                                <span class="corner"></span>
                                                                <div class="image imgWrap">
                                                                    <img alt="image" class="img-responsive center-block" width="100%" src="/public/img/upload.png">
                                                                </div>
                                                                <div class="file-name">
                                                                    证件资料
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <legend class="lt-bar panel-title">其他资料：</legend>
                                            <div class="form-group file_list clearfix">
                                                <div class="gallerys col-sm-offset-1 col-sm-8 filelist_{{ partner.partnerId | default(0) }}_g">
                                                    <div class="file-box" style="width: 140px !important;">
                                                        <span class="cancel cancelGcate" data-id="{{ gcate_info.gcId }}" >删除</span>
                                                        <div class="file">
                                                            <a href="javascript:void(0);" onclick="mopen('/upload/upload.html?p_id={{ partner.partnerId | default(0) }}&f_type=g','资料图片上传',null,['750px','auto']);">
                                                                <span class="corner"></span>
                                                                <div class="image imgWrap">
                                                                    <img alt="image" class="img-responsive center-block" width="100%" src="/public/img/upload.png">
                                                                </div>
                                                                <div class="file-name">
                                                                    其他资料
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        </div>

                                    </div>

                                </div>
                                <div class="panel">
                                    <div class="panel-body container-fluid">
                                        <div class="col-sm-12 col-sm-offset-3" style="margin: 20px 0;text-align: center;">
                                            <button class="btn btn-default btn_back" style="padding: 8px 26px;font-size:16px;margin-right: 30px" type="button">上一步</button>

                                            <button class="btn btn-primary" style="padding: 8px 26px;font-size:16px;margin-right: 30px" type="button" onclick="partner_submit();">修改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wizard-pane" id="exampleGetting" role="tabpanel">
                            <div class="text-center margin-vertical-20 padding-bottom-60">
                                <div class="complete_state padding-5">
                                    <i class="icon wb-check font-size-40" aria-hidden="true"></i>
                                </div>
                                <h4 style="font-size: 18px;font-weight: 600;">修改成功！</h4>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">data_str='{{ "now"|date("Y-m-d") }}';</script>
<script>
    $(document).ready(function () {
        // 居住地址初始化地址信息
		{% if adminUser.aProvince %}
        getCity("{{ adminUser.aProvince }}", "{{ adminUser.aCity }}");
		{% endif %}
		{% if adminUser.aCity %}
        getArea("{{ adminUser.aCity }}", "{{ adminUser.aCounty }}");
		{% endif %}

        //  初始化下拉框
        var config = {
            ".chosen-select": {},
            ".chosen-select-deselect": {
                allow_single_deselect: !0
            },
            ".chosen-select-no-single": {
                disable_search_threshold: 10
            },
            ".chosen-select-no-results": {
                no_results_text: "Oops, nothing found!"
            },
            ".chosen-select-width": {
                width: "100%"
            }
        };
        for (var selector in config) $(selector).chosen(config[selector]);
    });
    // input框失去焦点判断
    $("input[required]").parent().append('<span id="uei_operate_time-error" class="help-block m-b-none" style="display: none"><i class="fa fa-times-circle"></i>  必填</span>')
    $('input[required]').blur(function(){
        if($(this).val()==''){
            $(this).parents('.form-bolck').addClass('has-error');
            $(this).parent().find('#uei_operate_time-error').css('display','inline-block');
            $('.btn_next').attr({"disabled":"disabled"});
            return false;
        }else{
            $(this).parents('.form-bolck').removeClass('has-error').addClass('has-success');
            $(this).parent().find('#uei_operate_time-error').css('display','none');
            $('.btn_next').removeAttr("disabled");
            return true;
        }
    });
    function getCity(v, select) {
        fajax("{{ path('admin_city_getcitylist') }}", 'c_id=' + v + '&select=' + select, 'post', 'html', function (data) {
            data = '<option value="">--请选择市--</option>' + data;
            $("#city").html(data);
            $("#city").chosen();
            $("#city").trigger("chosen:updated");
        })
    }
    function getArea(v, select) {
        fajax("{{ path('admin_city_getcitylist') }}", 'c_id=' + v + '&select=' + select, 'post', 'html', function (data) {
            data = '<option value="">--请选择县--</option>' + data;
            $("#county").html(data);
            $("#county").chosen();
            $("#county").trigger("chosen:updated");
        })
    }
    //  点击添加联系人
    $('#contacts_add').on('click', function () {
        var contacts_rowTem = '<tr>'
            + '<td><input name="contact_name[]" type="text" class="input_hidden"></td>'
            + '<td><input name="contact_phone[]" type="text" class="input_hidden"></td>'
            + '<td><input name="contact_card[]" type="text" class="input_hidden" onblur="checkCard($(this),\'.contact_sex\',\'.contact_age\')"></td>'
            + '<td><input name="contact_sex[]" type="text" class="input_hidden contact_sex"></td>'
            + '<td><input name="contact_address[]" type="text" class="input_hidden"></td>'
            + '<td><input name="contact_profession[]" type="text" class="input_hidden"></td>'
            + '<td><input name="contact_age[]" type="text" class="input_hidden contact_age"></td>'
            + '<input name="contact_id[]" type="hidden" class="input_hidden">'
            + '<td> '
            + '    <a class="del_btn">删除</a>'
            + '</td>'
            + '</tr>';
        $("#contacts_list tbody:last").append(contacts_rowTem);
    });
    //    点击删除tr
    $('.table_add').delegate('.del_btn', 'click', function(){
        $(this).parents('tr').remove();
    });
    //   点击下一步按钮页面回到最顶部
    $('.btn_next').click(function () {
        var index = $(this).parents('.wizard-pane').index();
        $(this).parents('.wizard-pane').next().addClass('active').siblings().removeClass('active');
        $('.pearls .pearl').eq(index).addClass('done').removeClass('current').next().addClass('current').removeClass('disabled')
        $('body,html').animate({
            scrollTop: 0
        },0);
    });
    //  点击上一步
    $('.btn_back').click(function () {
        var index = $(this).parents('.wizard-pane').index();
        $(this).parents('.wizard-pane').prev().addClass('active').siblings().removeClass('active');
        $('.pearls .pearl').eq(index).addClass('disabled').removeClass('done current').prev().addClass('current done').removeClass('disabled')
    });
    // 提交表单
    function partner_submit(){
        // confirm('您真的确定要提交进件信息吗？',function(){
        fsubmit($("#submitbaseinfo"),function(data){
            msg(data.msg,null,(300==data.code) ? 8 : (200==data.code ? 1 : 2));
            if(data.code == 200){
                window.location.href = data.openUrl;
            }else{
                alert(data.msg);
            }
        });
        // },'保存进件信息');
    }
    // 删除资料
    $(".file_list").delegate(".cancel","click",function(){
        obj = new Object();
        obj.id = $(this).attr('data-id');
        obj.p_type = $(this).attr('data-type');
        var that = $(this);
        fajax('/upload/del.html',obj,'post','json',function(d){
            if(200 == d.code){
                that.parent().remove();
            }else if(201 == d.code){
                that.parent().remove();
            }
            alert(d.msg);
        });
    });

    // 删除资料
    $(".file-box").delegate(".cancelGcate","click",function(){
        obj = new Object();
        obj.id = $(this).attr('data-id');
        var that = $(this);
        fajax('/gcate/del_img.html',obj,'post','json',function(d){
            alert(d.msg);
            if(200 == d.code){
                that.parent().remove();
                $.pjax({url: d.openUrl, container: '#admui-pageContent'});
            }else if(201 == d.code){
                that.parent().remove();
            }
        });
    });
    // 暂存商户信息
    function partnerCacheInfo(){
        var form = $('#submitbaseinfo');
        var pdata = form.serialize();
        fajax(form.attr('action')+'?storage=1',pdata,'post','json',function (data) {
            if(data.code == 200) {
                // console.log(data);return false;
                window.location.href = data.openUrl;
            }else{
                alert(data.msg);
            }
        })
    }

</script>