<div class="page-container" id="photo_box">
    <div class="page animation-fade page-forms">
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">基础信息</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal fv-form fv-form-bootstrap" action="/admin/user/0.html" method="post" id="constraintsForm"  onsubmit="fsubmit(this);return false;">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><span class="must">*</span>店铺名称：</label>
                                    <div class="col-md-3 col-sm-8">
                                        <input name=""  type="text" class="form-control" required=""  aria-required="true" placeholder="店铺必填" value="">
                                        <input id="" name="" type="hidden" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><span class="must">*</span>店铺头像：</label>
                                    <div class="col-sm-8"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><span class="must">*</span>上传店铺头像：</label>
                                    <div class="col-sm-8">
                                        <div class="col-md-9">
                                            <legend class="lt-bar">{{ attribute(admin_bundle.file_type,key) }}</legend>
                                            <div class="form-group file_list">
                                                <div class="gallerys col-sm-offset-1 col-sm-8 filelist_{{ b_id|default(0) }}_{{ key}}">
                                                    <div class="file-box">
                                                        <span class="cancel" data-id="{{ d.ud_id }}">删除</span>
                                                        <div class="file">
                                                            <span class="corner"></span>
                                                            <div class="image imgWrap">
                                                                <img alt="image" data-id="{{ d.ud_id }}" degree="{{ d.ud_degree }}" class="gallery-pic active rotate{{ d.ud_degree }} img-responsive center-block" src="{{ admin_bundle.fileHost }}{{d.ud_url}}" onclick="openPhotoWin(this)">
                                                            </div>
                                                            <div class="file-name">
                                                                {{ attribute(admin_bundle.file_type,d.ud_type) }}-{{ loop.index }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="file-box" style="width: 140px !important;">
                                                        <div class="file">
                                                            <a href="javascript:void(0);" onclick="mopen('/admin/upload/form.html?b_id={{ b_id|default(0) }}&f_type={{ key }}','资料图片上传',null,['750px','auto']);">
                                                                <span class="corner"></span>
                                                                <div class="image">
                                                                    <img alt="image" class="img-responsive center-block" width="100%" src="/public/img/upload.png">
                                                                </div>
                                                                <div class="file-name">
                                                                    点击上传图片
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><span class="must">*</span>商家地址：</label>
                                    <div class="col-sm-8">
                                        <div class="col-sm-2">
                                            <select data-plugin="select2" name="provinces" id="oprovinces" class="chosen-select" data-rule-required="true" required onchange="getCity(this.value)">
                                                <option value="">--请选择省--</option>
                                                {% for pro in province_lists %}
                                                    <option value="{{ pro.city_key }}"
                                                            {% if userCurrInfo.ur_live_province == pro.city_key %}selected{% endif %}>{{ pro.city_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <select data-plugin="select2" name="city" id="ocity" class="chosen-select" data-rule-required="true" onchange="getArea(this.value)">
                                                <option value="">--请选择市--</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <select data-plugin="select2" name="area" id="oarea" class="chosen-select" data-rule-required="true">
                                                <option value="">--请选择县/区--</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <select data-plugin="select2" name="area" id="oarea" class="chosen-select" data-rule-required="true">
                                                <option value="">--请选择乡/镇--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">详细地址：</label>
                                    <div class="col-md-3 col-sm-8">
                                        <input name=""  type="text" class="form-control"  placeholder="请输入详细地址" value="">
                                        <input id="" name="" type="hidden" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><span class="must">*</span>商家电话：</label>
                                    <div class="col-md-3 col-sm-8">
                                        <input name=""  type="text" class="form-control" required=""  aria-required="true" placeholder="请输入商家电话" value="">
                                        <input id="" name="" type="hidden" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">商家简介：</label>
                                    <div class="col-md-3 col-sm-8">
                                        <textarea class="form-control" id="textareaDefault" rows="3" maxlength="30" placeholder="请输入商家简单介绍，最多30个汉字"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">商家公告：</label>
                                    <div class="col-md-3 col-sm-8">
                                        <textarea class="form-control" id="textareaDefault" rows="3" maxlength="30" placeholder="请输入商家简单介绍，最多30个汉字"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-sm-offset-3" style="margin-top: 20px;">
                                    <button type="submit" class="btn btn-primary" id="validateButton">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>