<style>
    .dataTables_wrapper {
        padding-bottom: 0;
    }
    /*  上下架选择框 */
    .open_off{
        position: relative;
        display: inline-block;
        width: 60px;
        height: 24px;
        line-height: 24px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-background-clip: content-box;
        background-clip: content-box;
        border: 1px solid #e4eaec;
        background-color: white;
        border-radius: 20px;
        transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
    }
    /*  打开状态 */
    .open_off_switch_on{
        background-color: rgb(78, 151, 217);
        border-color: rgb(78, 151, 217);
        box-shadow: rgb(78, 151, 217) 0px 0px 0px 13px inset;
    }
    /*  小按钮 */
    .open_off_switch{
        position: absolute;
        top: 0;
        width: 24px;
        height: 24px;
        background: #fff;
        border-radius: 100%;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    }
    /*  上下架状态字  */
    .open_title{
        padding: 0 6px;
        float: right;
        color: rgb(78, 151, 217);
    }
    .open_off .open_title_on{
        float: left;
        color: white;
    }
    /*兼容火狐的表格响应式*/
    @-moz-document url-prefix() {
        fieldset { display: table-cell; }
    }
</style>

<div class="page-content">
    <div class="panel">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-body container-fluid">
	                {% if atype == 0 %}
                    <div>
                        <a data-pjax class="btn btn-outline btn-primary" href="/goods/edit_goods/0.html" target="_blank">添加商品</a>
                    </div>
                    {% endif %}
                    <div class="pull-left form-inline clearfix" style="min-height: 60px;height: auto;padding: 10px 8px;">
                        <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                            <div class="input-group">
                                <input placeholder="请输入商品名称" id="g_name" name="g_name" class="form-control" value="{{ params.g_name | default('') }}" type="text">
                            </div>
                            {% if atype != 0 %}
                            <div class="input-group">
                                <input placeholder="请输入商户名" id="a_name" name="a_name" class="form-control" value="{{ params.a_name | default('') }}" type="text">
                            </div>
                            {% endif %}
                            <div class="input-group">
                                <select class="form-control" id="g_status" name="g_status">
                                    <option value="">--请选择上架状态--</option>
                                    <option {% if params.g_status == '-1' %} selected="selected" {% endif %}value="-1">全部</option>
                                    <option {% if params.g_status == '0' and params.g_status!='' %} selected="selected" {% endif %} value="0">未上架</option>
                                    <option {% if params.g_status == '6' %} selected="selected" {% endif %} value="6">下架</option>
                                    <option {% if params.g_status == '5' %} selected="selected" {% endif %} value="5">上架</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <select class="form-control" id="g_check_status" name="g_check_status">
                                    <option value="">--请选择审核状态--</option>
                                    <option {% if params.g_check_status == '-1' %} selected="selected" {% endif %}value="-1">全部</option>
                                    <option {% if params.g_check_status == '1-4' %} selected="selected" {% endif %} value="1-4">待审核</option>
                                    <option {% if params.g_check_status == '2-5-6' %} selected="selected" {% endif %} value="2-5-6">审核通过</option>
                                    <option {% if params.g_check_status == '3' %} selected="selected" {% endif %} value="3">审核打回</option>
                                    <option {% if params.g_check_status == '7' %} selected="selected" {% endif %} value="7">审核拒绝</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <select class="form-control" id="gb_id" name="gb_id">
                                    <option value="">--请选择商品品牌--</option>
                                    <option {% if params.gb_id == '-1' %} selected="selected" {% endif %} value="-1">全部</option>
                                    {% for gbk,gbv in brand_info %}
                                    <option {% if params.gb_id == gbv.gbId %} selected="selected" {% endif %} value="{{ gbv.gbId }}">{{ gbv.gbName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <span>
                                <button type="button" onclick="get{{ tabid }}Page();" class="btn btn-primary"> 搜索</button>
                                <button type="button" onclick="refreshInfo()" class="btn btn-default">清空</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-bordered table-hover dataTable table-striped width-full text-nowrap">
                            <thead>
                            <tr>
                                <th>商品排序</th>
                                <th>商品编号</th>
                                <th>商户名</th>
                                <th>商品名称</th>
                                <th>商品品牌</th>
                                <th>上下架状态</th>
                                <th>审核状态</th>
                                <th>添加时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if goods_list %}
                                {% for key,good in goods_list %}
                                    <tr>
                                        <td><input style="width: 60px;" type="text" data-rule-number="true" class="form-control classify_sort" name="gc_sort" value="{{ good.g_sort }}" onblur="editGoodsSort(this,{{ good.g_id }})"></td>
                                        <td>{{ good.g_code }}</td>
                                        <td>{{ good.a_true_name }}</td>
                                        <td>{{ good.g_name }}</td>
                                        <td>{{ good.gb_name }}</td>
                                        <td>{% if good.g_status==5 %}上架{% elseif good.g_status==6 %}下架{% else %}未上架{% endif %}</td>
                                        <td>{% if good.g_status==3 %}打回{% elseif good.g_status in [1,4] %}待审核{% elseif good.g_status in [2,5,6] %}审核通过{% else %}审核拒绝{% endif %}</td>
                                        <td>{{ good.g_add_time|date("Y-m-d") }}</td>
                                        <td>
                                            <a data-pjax class="btn btn-outline btn-primary" href="/goods/goods_detail/{{ good.g_id }}.html" target="_blank">查看详情</a>
                                            {% if atype == 0 %}
                                                {% if good.g_status in [2,3,5,6] %}
                                                    <a data-pjax class="btn btn-outline btn-primary" href="/goods/edit_goods/{{ good.g_id }}.html" target="_blank">编辑</a>
                                                {% endif %}
                                            {% else %}
                                                {% if good.g_status != 7 %}
                                                <a data-pjax class="btn btn-outline btn-primary" href="/goods/edit_goods/{{ good.g_id }}.html" target="_blank">编辑</a>
                                                {% endif %}
                                            {% endif %}
                                            {% if atype != 0 %}
                                                {% if 1==good.g_status or 4==good.g_status %}
                                                    <button class="btn btn-outline btn-primary" type="button" onclick="checkGoods(this,{{ good.g_id }})">审核</button>
                                                {% endif %}
                                                <a data-pjax class="btn btn_ btn-outline btn-primary" onclick="mopen('/admin/check/trace_{{ good.g_id }}_2.html','审核记录',null,null);"  target="_blank">审核记录</a>
                                            {% endif %}
                                            {% if good.g_status in [2,5,6] %}
                                                <div class="open_off {% if good.g_status==5 %}open_off_switch_on{% endif %}" onclick="confirm('您确定进行上下架操作吗？',function(){onShelf({{ good.g_id }})});">
                                                    <div class="open_off_switch" {% if good.g_status==5 %}style="left:36px;"{% endif %}></div>
                                                    <span class="open_title {% if good.g_status==5 %}open_title_on{% endif %}">{% if good.g_status in [2,6]  %}上架{% else %}下架{% endif %}</span>
                                                </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td align="center" colspan="9"><font color="red">暂无数据!</font></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12 margin-top-10">
                        <div class="dataTables_paginate paging_simple_numbers pull-right" id="dataTableExample_paginate" style="padding: 5px;">
                            {{ page|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function get{{ tabid }}Page(nums){
        nums = (nums>0) ? nums : 1;
        var g_name=$('#g_name').val();
        var a_name=$('#a_name').val();
        var g_status=$('#g_status').val();
        var g_check_status=$('#g_check_status').val();
        var gc_id=$('#gc_id').val();
        var gb_id=$('#gb_id').val();
        var obj = new Object();
        obj.g_name=g_name;
        obj.a_name=a_name;
        obj.g_status=g_status;
        obj.g_check_status=g_check_status;
        obj.gc_id=gc_id;
        obj.gb_id=gb_id;
        onPage(nums,window.location.href,obj);
    }
    function refreshInfo() {
        $.pjax({url: '/goods/goods_list.html', container: '#admui-pageContent'});
    }

    function checkGoods(_this,g_id) {
        $(_this).attr('data-chosse','true');
        var url = "/goods/check_goods.html?g_id="+g_id;
        mopen(url, '商品审核', '',null, function (e, d) {
            fsubmit($("#xlcheckGoodsForm"), optCheckGoodsForm);
        });
    }
    function optCheckGoodsForm(data) {
        alert(data.msg);
        if (data.code == "200") {
            $.pjax({url: '/goods/goods_list.html', container: '#admui-pageContent'});
        }
    }

   // 上下架状态
    function onShelf(gid) {
        if(!stopFresh()){
            return false;
        }
        fajax("/goods/update_status.html", "gId=" + gid, "post", "json", function (data) {
            if (data.code == "200") {
                $.pjax({url: '/goods/goods_list.html', container: '#admui-pageContent'});
            }else{
                alert(data.msg);
            }
        });
    }

    //  分类排序input失去焦点事件
    function editGoodsSort(_this,gcId) {
        var sorts = $(_this).val();
        var objj = new Object();
        console.log(objj);//return;
        objj.g_id=gcId;
        objj.g_sort=sorts;
        if(!stopFresh()){
            return false;
        }
        fajax("/goods/goods_sort.html",objj,'post','json',function (data) {
            alert(data.msg);
        });
    }

</script>