<div class="page-content">
    <div class="panel">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-body container-fluid">
                    <a class="btn btn-outline btn-primary" title="发布消息" data-pjax="" href="{{ path('admin_operate_msgform',{'id' : msg_id | default(0)}) }}" target="_blank">发布消息</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-body container-fluid">
                    <table class="table table-bordered table-hover dataTable table-striped width-full text-nowrap" data-plugin="dataTable" data-paging="false" data-ordering="false" data-searching="false" data-info="false">
                        <thead>
                        <tr>
                            <th>消息名称</th>
                            <th>发布状态</th>
                            <th>发布人</th>
                            <th>发布时间</th>
                            <th>消息类型</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key,msg in list %}
                            <td class="change_line" title="{{ msg.msg_title }}">{{ msg.msg_title }}</td>
                            <td>{% if msg.msg_send_status == 1 %}未发布{% else %}已发布{% endif %}</td>
                            <td>{{ msg.a_name }}</td>
                            <td>{{ msg.msg_add_time }}</td>
                            <td>{% if msg.msg_type == 1 %}系统消息{% elseif msg.msg_type == 2 %}订单消息{% elseif msg.msg_type == 3 %}运营消息{% endif %}</td>
                            <td>
	                            {% if msg.msg_send_status == 1 %}
                                    <a data-pjax="" href="{{ path('admin_operate_msgform',{'id' : msg.msg_id | default(0) }) }}" target="_blank">编辑</a>
	                            {% endif %}

	                            {% if msg.msg_send_status == 2 %}
                                    <a data-pjax="" href="{{ path('admin_operate_msgdetail',{'id' : msg.msg_id | default(0) }) }}"  target="_blank">详情</a>
	                            {% endif %}


                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="col-xs-12 margin-top-10">
                        <div class="dataTables_paginate paging_simple_numbers pull-right" id="dataTableExample_paginate" style="padding: 5px;">
                            {{ page|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function get{{ tabid }}Page(nums){
        nums = (nums>0) ? nums : 1;
        var obj = new Object();
        onPage(nums,window.location.href,obj);
    }
    function disOrEnable(b_id) {
        var url = "{{ path('admin_operate_bannerdisorenable', {'id': b_id}) }}";
        fajax(url,{'id':b_id},'post','json',function(d){
            if(200 == d.code){
                alert(d.msg);
                $.pjax({url: d.openUrl, container: '#admui-pageContent'});
            }
            alert(d.msg);
        });
    }
</script>