<div class="page-container">
    <div class="page animation-fade page-forms">
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <form class="form-horizontal fv-form fv-form-bootstrap" action="/feed/showdofeed.html" method="post" id="feedbackForm">
                            <div class="form-group has-feedback">
                                <label class="col-sm-4 control-label">用户账号：</label>
                                <div class="col-sm-7 form-bolck control-text">{{ feed_info.fd_user_name }}</div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-sm-4 control-label">留言内容：</label>
                                <div class="col-sm-7 form-bolck control-text">{{ feed_info.fd_content }}</div>
                            </div>
                            {% if img_arr[0] %}
                            <div class="form-group has-feedback">
                                <label class="col-sm-4 control-label">图片信息：</label>
                                <div class="col-sm-7 form-bolck">
                                    {% for d in img_arr %}
                                        <div class="file-box">
                                            <div class="file">
                                                <div class="image imgWrap">
                                                    <img alt="image"  class="gallery-pic active img-responsive center-block" src="{{d}}" onclick="openPhotoWin(this)">
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group has-feedback">
                                <label class="col-sm-4 control-label"><span class="must">*</span>处理说明：</label>
                                <div class="col-sm-7 form-bolck">
                                    <textarea class="form-control" rows="3" name="fd_op_content" placeholder="处理说明" required="">{{ feed_info.fd_op_content }}</textarea>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-sm-4 control-label"><span class="must">*</span>处理状态：</label>
                                <div class="col-sm-7 form-bolck">
                                    <select class="form-control" name="fd_status" id="fd_status">
                                        <option value="">--请选处理状态--</option>
                                            <option {% if feed_info.fd_status==0 %}selected{% endif %} value="0">未处理</option>
                                            <option {% if feed_info.fd_status==1 %}selected{% endif %} value="1">处理中</option>
                                            <option {% if feed_info.fd_status==2 %}selected{% endif %} value="2">已处理</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-sm-4 control-label">处理人：</label>
                                <div class="col-sm-7 form-bolck">
                                    <input name="a_name" type="text" class="form-control" placeholder="请输入处理人" value="{% if feed_info.fd_op_name %}{{ feed_info.fd_op_name }}{% else %}{{ op_name }}{% endif %}" readonly="readonly" disabled="disabled">
                                    <input type="hidden" name="fd_id" value="{{ feed_info.fd_id }}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

