<div class="page-content">
    <div class="panel">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-body container-fluid">
                    <a class="btn btn-outline btn-primary" title="添加广告位" data-pjax="" href="{{ path('admin_operate_bannercreate', {'id': b_id | default(0) }) }}" target="_blank">添加广告位</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-body container-fluid">
                    <table class="table table-bordered table-hover dataTable table-striped width-full text-nowrap" data-plugin="dataTable" data-paging="false" data-ordering="false" data-searching="false" data-info="false">
                        <thead>
                        <tr>
                            <th>广告名称</th>
                            <th>类型</th>
                            <th>状态</th>
                            <th>排序</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key,banner in list %}
                            <tr {{ tabid }}="row">
                            <td>{{ banner.b_title }}</td>
                            <td>{{ attribute(admin_bundle.bannerType,banner.b_type) }}</td>
                            <td>{% if banner.b_status == 1 %}启用{% else %}停用{% endif %}</td>
                            <td>{{ banner.b_order }}</td>
                            <td>{{ banner.b_update_time }}</td>
                            <td>

                                <a data-pjax="" href="{{ path('admin_operate_bannercreate', {'id': banner.b_id}) }}" target="_blank">编辑</a>
                                {#<a data-pjax="" href="/admin/user/{{ banner.b_id }}.html" target="_blank">删除</a>#}
                                <a href="javascript:void(0);" onclick="disOrEnable({{ banner.b_id }})">{% if banner.b_status == 1 %}停用{% else %}启用{% endif %}</a>

                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="col-xs-12 margin-top-10">
                        <div class="dataTables_paginate paging_simple_numbers pull-right" id="dataTableExample_paginate" style="padding: 5px;">
                            {{ page|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function get{{ tabid }}Page(nums){
        nums = (nums>0) ? nums : 1;
        var obj = new Object();
        onPage(nums,window.location.href,obj);
    }
    function disOrEnable(b_id) {
        var url = "{{ path('admin_operate_bannerdisorenable', {'id': b_id}) }}";
        fajax(url,{'id':b_id},'post','json',function(d){
            if(200 == d.code){
                alert(d.msg);
                $.pjax({url: d.openUrl, container: '#admui-pageContent'});
            }
            alert(d.msg);
        });
    }
</script>