<div class="page-container">
    <div class="page animation-fade page-forms">
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                            <form class="form-horizontal fv-form fv-form-bootstrap" action="/order/modify/{{ order.orderId }}.html" method="post" id="orderUpdateForm"  onsubmit="fsubmit(this);return false;">
                                <div class="form-group has-feedback">
                                    <label class="col-sm-4 control-label">订单金额：</label>
                                    <div class="col-sm-7 control-text">{{ order.orderAmount }} (含运费)</div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="col-sm-4 control-label">实际支付金额：</label>
                                    <div class="col-sm-7">
                                        <input name="fact_amt" readonly  type="text" class="form-control actual_payment" required=""  aria-required="true" placeholder="请输入实际支付金额" value="{{ order.orderAmount }}">
                                        <input name="oId" type="hidden" value="{{ order.orderId }}">
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                        <label class="col-sm-4 control-label">优惠金额：</label>
                                        <div class="col-sm-7 form-bolck">
                                            <input name="derate_amt"  type="text" class="form-control preferential_amount" required=""  aria-required="true" placeholder="请输入要减免的金额" value="0.00">
                                        </div>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    //  四舍五入封装
    function decimal(num,v){
        var vv = Math.pow(10,v);
        return Math.round(num*vv)/vv;
    }
    var timer;    //   延时器
    $(".preferential_amount").parent().append('<span id="uei_operate_time-error" class="help-block m-b-none" style="display: none;">必填！</span>');
    $('.preferential_amount').keyup(function(){
        var that = $(this);
        var num = decimal($(this).val(),2);
        clearTimeout(timer);
        timer = setTimeout(function(){
            var principal= {{ order.orderAmount }};
            that.val(num);
            if(that.val() < principal && that.val() > 0){
                var actpay = decimal(principal-num,2);
                that.parents('.form-bolck').removeClass('has-error').addClass('has-success');
                that.parent().find('#uei_operate_time-error').css('display','none');
                $('.actual_payment').val(actpay);
            }else if(that.val() >= principal){
                that.parents('.form-bolck').addClass('has-error');
                that.parent().find('#uei_operate_time-error').css('display','inline-block');
                that.parent().find('#uei_operate_time-error').html('减免金额不能大于订单金额！');
                that.val('');
                $('.actual_payment').val(principal);
            }else{
                that.parents('.form-bolck').addClass('has-error');
                that.parent().find('#uei_operate_time-error').css('display','inline-block');
                that.parent().find('#uei_operate_time-error').html('必填！');
                that.val('');
                $('.actual_payment').val(principal);
            }
        },1000);
    });
</script>