<div class="page-content">
    <div class="panel">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-body container-fluid">
                    <div>
                        {% if gc_order == 0 %}
                        <a data-pjax class="btn btn-outline btn-primary" href="/gcate/edit_gcate/0.html" target="_blank">添加一级分类</a>
                        {% elseif gc_order == 1 %}
                        <a data-pjax class="btn btn-outline btn-primary" href="/gcate/edit_gcate/0.html?gcUpId={{ gc_upId }}&gcOder={{ gc_order }}" target="_blank">添加二级分类</a>
                        {% else %}
                            <a data-pjax class="btn btn-outline btn-primary" href="/gcate/edit_gcate/0.html?gcUpId={{ gc_upId }}&gcOder={{ gc_order }}" target="_blank">添加三级分类</a>
                        {% endif %}
                    </div>
                    <div class="pull-left form-inline clearfix" style="min-height: 60px;height: auto;padding: 10px 8px;">
                                <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                                    <div class="input-group">
                                            <input placeholder="请输入商品分类名称" id="gc_name" name="gc_name" class="form-control" value="{{ params.gc_name | default('') }}" type="text">
                                    </div>
                                    <span>
                                            <button type="button" onclick="get{{ tabid }}Page();" class="btn btn-primary"> 搜索</button>
                                            <button type="button" onclick="refreshInfo({{ gc_upId }})" class="btn btn-default">清空</button>
                                        </span>
                                </div>
                        </div>
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-bordered table-hover dataTable table-striped width-full text-nowrap goods_table">
                            <thead>
                            <tr>
                                <th width="60px;">分类排序</th>
                                <th>分类级别</th>
                                <th>分类名称</th>
                                {% if gc_order != 0 %}
                                    <th>所属上级分类</th>
                                {% endif %}
                                <th>分类状态</th>
                                <th>添加时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if gcate_list %}
                                {% for key,gcate in gcate_list %}
                                    <tr>
                                        {% if gc_order == 0 %}
                                            <td><input style="width: 60px;" type="text" data-rule-number="true" class="form-control classify_sort" name="gc_sort" value="{{ gcate.gc_sort }}" onblur="editGcateSort(this,{{ gcate.gc_id }})"></td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        <td>{{ attribute(admin_bundle.goods_grade,gcate.gc_order) }}</td>
                                        <td>{{ gcate.gc_name }}</td>
                                        {% if gc_order != 0 %}
                                            <td>
                                                {% if gc_order == 1 %}
                                                    {{ upInfo.upName }}
                                                {% elseif gc_order == 2 %}
                                                    {{ upInfo.topName }}>{{ upInfo.upName }}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        <td>{% if gcate.gc_status == 1 %}启用{% else %}停用{% endif %}</td>
                                        <td>{{ gcate.gc_add_time.date|date("Y-m-d") }}</td>
                                        <td>
                                            {% if gcate.gc_order != 3 %}
                                                <a class="btn btn-outline btn-primary" href="/gcate/list.html?gc_node={{ gcate.gc_id }}">查看下级</a>
                                            {% endif %}
                                            {% if gcate.gc_order != 1 %}
                                                <a class="btn btn-outline btn-primary" href="/gcate/list.html?gc_node={{ gcate.gc_id }}&gc_id={{ gcate.gc_node }}">查看上级</a>
                                            {% endif %}
                                            <a data-pjax class="btn btn-outline btn-primary" href="/gcate/edit_gcate/{{ gcate.gc_id }}.html?gcUpId={{ gc_upId }}&gcOder={{ gc_order }}" target="_blank">编辑</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td align="center" colspan="7"><font color="red">暂无数据!</font></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12 margin-top-10">
                        <div class="dataTables_paginate paging_simple_numbers pull-right" id="dataTableExample_paginate" style="padding: 5px;">
                            {{ page|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function get{{ tabid }}Page(nums){
        nums = (nums>0) ? nums : 1;
        var gc_name=$('#gc_name').val();
        var gc_order=$('#gc_order').val();
        var obj = new Object();
        obj.gc_name=gc_name;
        obj.gc_order=gc_order;
        onPage(nums,window.location.href,obj);
    }

    //  分类排序input失去焦点事件
   function editGcateSort(_this,gcId) {
       var sorts = $(_this).val();
       var objj = new Object();
       objj.gc_id=gcId;
       objj.gc_sort=sorts;
       if(!stopFresh()){
           return false;
       }
        fajax("/gcate/gcate_sort.html",objj,'post','json',function (data) {
                alert(data.msg);
        });
   }

    function refreshInfo(v) {
        if(v){
            $.pjax({url: '/gcate/list.html?gc_node='+v, container: '#admui-pageContent'});
        }else{
            $.pjax({url: '/gcate/list.html', container: '#admui-pageContent'});
        }

    }


</script>