<style>
    .dataTables_wrapper {
        padding-bottom: 0;
    }
</style>

<div class="page-content">
    <div class="panel">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-body container-fluid">
                    <div class="pull-left form-inline clearfix" style="min-height: 60px;height: auto;padding: 10px 8px;">
                        <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                            <div class="input-group">
                                <input placeholder="请输入商户手机号" id="phone" class="form-control" value="{{ params.phone}}" type="text">
                            </div>
                            <div class="input-group">
                                <input placeholder="请输入商户名称" id="name" class="form-control" value="{{ params.name}}" type="text">
                            </div>

                            <div class="input-group">
                                <input placeholder="请输入店铺名称" id="partner_name"  class="form-control" value="{{ params.partner_name}}" type="text">
                            </div>

                            <div class="input-group">
                                <select class="form-control" id="is_normal" name="is_normal">
                                    <option value="">--请选择店铺状态--</option>
                                    {% for key,v in is_normal %}
                                        <option {% if params.is_normal == key %} selected="selected" {% endif %} value="{{ key }}">{{ v }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <span>
                                <button type="button" onclick="get{{ tabid }}Page();" class="btn btn-primary"> 搜索</button>
                                <button type="button" onclick="$('#phone').val('');$('#name').val('');$('#partner_name').val('');$('#is_normal').val('');" class="btn btn-default">清空</button>
                            </span>
                        </div>
                    </div>
                    {#<a class="btn btn-outline btn-success" title="新增商户" href="{{ path('admin_partner_add', {'uid': 1}) }}">新增商户</a>#}
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-bordered table-hover dataTable table-striped width-full text-nowrap">
                            <thead>
                            <tr>
                                <th>商户编号</th>
                                <th>商户名称</th>
                                <th>商户手机号</th>
                                <th>店铺名称</th>
                                <th>客服电话</th>
                                <th>商城搜索限制</th>
                                <th>店铺状态</th>
                                <th>注册时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key,partner in list %}
                                <tr>
                                    <td>{{ partner.partner_id }}</td>
                                    <td>{{ partner.a_true_name }}</td>
                                    <td>{{ partner.a_phone }}</td>
                                    <td class="change_line" title="{{ partner.partner_name }}">{{ partner.partner_name }}</td>
                                    <td>{{ partner.partner_phone }}</td>
                                    <td>{{ partner.is_lonely | getValueByKey('merchant','IsLonelyStatus')  }}</td>
                                    <td>{{ partner.is_normal | getValueByKey('merchant','MerchantStatus') }}</td>
                                    <td>{{ partner.partner_add_time | format('Y-m-d') }}</td>
                                    <td>
                                        {#{% if 'Order_orderList' in action  or 'all' in action %} #}
                                        <a data-pjax class="btn btn_ btn-outline btn-primary" href="{{ path('admin_shop_detail', {'id': partner.partner_id | default(0) }) }}" target="_blank">查看详情</a>

                                        <a data-pjax class="btn btn_ btn-outline btn-primary" href="{{ path('admin_shop_shopedit', {'id': partner.partner_id | default(0) }) }}" target="_blank">编辑店铺</a>

                                        <a data-pjax class="btn btn_ btn-outline btn-primary" onclick="mopen('{{ path('admin_shop_searchset', {'id': partner.partner_id | default(0) }) }}','搜索设置',null,['600px', '400px'],setSearch);"  target="_blank">搜索设置</a>

                                        <a data-pjax class="btn btn_ btn-outline btn-primary" onclick="mopen('{{ path('admin_shop_partnerset', {'id': partner.partner_id | default(0) }) }}','店铺设置',null,['600px', '400px'],editShopState);"  target="_blank">店铺设置</a>
                                        {#{% endif %}#}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12 margin-top-10">
                        <div class="dataTables_paginate paging_simple_numbers pull-right" id="dataTableExample_paginate" style="padding: 5px;">
                            {{ page|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function get{{ tabid }}Page(nums){
        nums = (nums>0) ? nums : 1;
        var name = $('#name').val();
        var phone = $('#phone').val();
        var partner_name = $('#partner_name').val();
        var is_normal = $('#is_normal').val();
        var obj=new Object();
        obj.name = name;
        obj.phone = phone;
        obj.partner_name = partner_name;
        obj.is_normal = is_normal;
        onPage(nums,window.location.href,obj);
    }

    function editShopState() {
        fsubmit($('#editBrandForm'),function (d) {

            if(d.code == 200){
                msg(d.msg,null,1);
                setTimeout(function () {
                    location.reload();
                    layer.closeAll();
                },1000)
            }else{
                alert(d.msg)
            }
        });
    }

    function setSearch() {
        fsubmit($('#setSearchForm'),function (d) {
            if(d.code == 200){
                msg(d.msg,null,1);
                setTimeout(function () {
                    location.reload();
                    layer.closeAll();
                },1000)
            }else if(d.code == 500){
                alert(d.msg);
            }
        });
    }
</script>