<style>
    .details_table{
        border: 1px solid #62a8ea;
        border-radius: 4px;
    }
    .down_table{
        display: none;
    }
    .refresh{
        cursor: pointer;
    }
    .down_table td:first-child:before{
        display: none !important;
    }
</style>
<div class="page-content">
    <div class="panel">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-body container-fluid">
                    <div class="pull-left form-inline clearfix" style="min-height: 60px;height: auto;padding: 10px 8px;">
                        <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                            <div class="input-group">
                                <input placeholder="请输入订单编号" id="order_no" class="form-control" value="{{ params.order_no}}" type="text">
                            </div>
                            <div class="input-group">
                                <input placeholder="请输入用户手机号" id="u_phone" class="form-control" value="{{ params.u_phone}}" type="text">
                            </div>
                            <div class="input-group">
                                <select class="form-control" id="order_status" name="order_status">
                                    <option value="">--请选择订单状态--</option>
	                                {% for key,order_status in admin_bundle.order_status %}
                                        <option {% if ''!=params.order_status and params.order_status == key %} selected="selected" {% endif %} value="{{ key }}">{{ order_status }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group">
                                <select class="form-control" id="order_pay_type" name="order_pay_type">
                                    <option value="">--请选择订单类别--</option>
	                                {% for key,order_pay_type in admin_bundle.order_pay_type %}
                                        <option {% if params.order_pay_type == key %} selected="selected" {% endif %} value="{{ key }}">{{ order_pay_type }}</option>
	                                {% endfor %}
                                </select>
                            </div>
                            <div class="input-group">
                                <div class="input-daterange" data-plugin="datepicker" data-language="zh-CN" data-todayHighlight="true">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="icon wb-calendar" aria-hidden="true"></i>
                                        </span>
                                        <input type="text" class="form-control selectData startDate" value="{{ params.o_start }}" name="o_start" placeholder="订单-起始时间" id="o_start" readonly>
                                        <span class="input-group-addon"> 至 </span>
                                        <input type="text" class="form-control selectData endDate" value="{{ params.o_end }}" name="o_end" placeholder="订单-结束时间" id="o_end" readonly>
                                    </div>
                                </div>
                            </div>
                            <span>
                                <button type="button" onclick="get{{ tabid }}Page();" class="btn btn-primary"> 搜索</button>
                                <button type="button" onclick="$('#order_no').val('');$('#u_phone').val('');$('#order_status').val('');$('#order_pay_type').val('');$('#o_start').val('');$('#o_end').val('');" class="btn btn-default">清空</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-bordered table-hover dataTable table-striped width-full text-nowrap">
                            <thead>
                            <tr>
                                <th>订单编号</th>
                                <th>用户姓名</th>
                                <th>手机号</th>
                                <th>商户名称</th>
                                <th>订单种类</th>
                                <th>订单金额</th>
                                <th>实际支付金额</th>
                                <th>运费</th>
                                <th>优惠金额</th>
                                <th>下单时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key,order in orderList %}
                                <tr onclick="showTables(this,'{{ order.order_id }}')">
                                    <td><i class="fa fa-chevron-right showGoods margin-right-5"></i>{{ order.order_no }}</td>
                                    <td>{{ order.consignee }}</td>
                                    <td>{{ order.consignee_mbl }}</td>
                                    <td>{{ order.partner_name }}</td>
                                    <td>{% if 3==order.order_pay_type %}赊购{% else %}全款{% endif %}</td>
                                    <td>{{ order.order_amount|number_format(2, '.', ',') }}</td>
                                    <td>{{ order.order_fat_pay_amount|number_format(2, '.', ',') }}</td>
                                    <td>{{ order.order_delivery_fee|number_format(2, '.', ',') }}</td>
                                    <td>{{ (order.order_amount-order.order_fat_pay_amount)|number_format(2, '.', ',') }}</td>
                                    <td>{{ order.order_add_time }}</td>
                                    <td>{{ attribute(admin_bundle.order_status,order.order_status) }}</td>
                                    <td style="border-right:1px solid #e4eaec;">
                                        <a data-pjax class="btn btn_ btn-outline  btn-primary" href="/order/detail/{{ order.order_id }}.html" target="_blank">订单详情</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12 margin-top-10">
                        <div class="dataTables_paginate paging_simple_numbers pull-right" id="dataTableExample_paginate" style="padding: 5px;">
                            {{ page|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function get{{ tabid }}Page(nums){
        nums = (nums>0) ? nums : 1;
        var obj = {};
        obj.order_no = $('#order_no').val();
        obj.u_phone = $('#u_phone').val();
        obj.order_status = $('#order_status').val();
        obj.order_pay_type = $('#order_pay_type').val();
        obj.o_start = $('#o_start').val();
        obj.o_end = $('#o_end').val();
        onPage(nums,window.location.href,obj);
    }

    function omodify() {
        fsubmit($('#orderUpdateForm'),function (d) {alert($('#orderUpdateForm').attr('action'));
            if(d.code=200){
                location.reload();
                layer.closeAll();
            }
        });
    }

    function confirm_pay() {
        fajax('/order/confirm_pay/{{ order.order_id }}.html',null,'POST','JSON',function (d) {
            if(301==d.code){
                window.location='/login';
            }else{
                if(200==d.code){
                    msg(d.msg);
                }else{
                    msg(d.msg,null,2);
                }
            }
            location.reload();
        });
    }

    //  点击下拉出现表格详情
    function showTables(event,oId){
        var index  = $(event).find(".showGoods");
        if($(index).hasClass("fa-chevron-down")){
            $(index).removeClass("fa-chevron-down");
            $(index).addClass("fa-chevron-right");
            $(event).next().hide(300);
        }else{
            $(".down_table").hide();
            $(".showGoods").addClass("fa-chevron-right").removeClass("fa-chevron-down");
            $(index).addClass("fa-chevron-down");
            if(!$(event).next().hasClass("down_table")){
                fajax('/order/goods/list.html',"oId="+oId,"get","html",function(html){
                    $(event).after(html);
                    $(event).next().show(300);
                });
            }else{
                $(event).next().show(300);
            }
            $(index).removeClass("fa-chevron-right");
        }
    }

    //  日期选择配置
    nowTime();
    var date=document.querySelectorAll('.selectData');
    var end = { theme:{ bgcolor:"#4e97d9",color:"#ffffff", pnColor:"#00CCFF"}, format: "YYYY-MM-DD hh:mm:ss", maxDate: now_date, minDate: null};
    for(var dTime=0;dTime<date.length;dTime++) {
        jeDate(date[dTime], {
            theme: {bgcolor: "#4e97d9", color: "#ffffff", pnColor: "#00CCFF"},
            format: "YYYY-MM-DD hh:mm:ss",
            maxDate: now_date,
            donefun: function (obj) {
                if ($(obj.elem).hasClass('startDate')) {
                    var sTime = obj.val;
                    end.minDate = sTime; //开始日选好后，重置结束日的最小日期
                    endDates();
                }
            },
        });
    }
    //这里是日期联动的关键
    function endDates() {
        end.trigger = false;
        jeDate('.endDate',end)
    }

</script>