	</div>
	<div class="page-loading vertical-align text-center">
		<div class="page-loader loader-default loader vertical-align-middle" data-type="default"></div>
	</div>
	<div style="height: 60px;width: 100%"></div>
</main>
<footer class="footer_bar text-right">&copy; 屹石科技（北京）有限公司</footer>
<script>var data_str='{{ "now"|date("Y-m-d") }}';</script>
<!-- 插件 -->
<script src="/public/js/jquery.pjax.min.js"></script>
<script src="/public/js/responsive-tabs.js"></script>
<script src="/public/js/jquery-asHoverScroll.min.js"></script>
<script src="/public/js/jquery.slimscroll.min.js"></script>
<script src="/public/js/screenfull.min.js"></script>
<script src="{{ '/public/js/layer/layer.min.js'|gfut }}"></script>
<script src="{{ "/public/js/layer/laydate/laydate.js"|gfut }}"></script>

<!-- 表单提交 -->
<script src="/public/plugins/formValidation/formValidation.min.js" data-name="formValidation"></script>
<script src="/public/plugins/formValidation/bootstrap.min.js"  data-deps="formValidation"></script>
<script src="/public/plugins/formValidation/validation.js"></script>
<!-- 文件上传 -->
<script src="/public/plugins/webuploader/webuploader.js"></script>

<!-- 布局 -->
<script src="/public/js/menu.js"></script>
<script src="/public/js/media-menu.js"></script>
<script src="/public/js/content-tabs.js"></script>
<script src="/public/js/site.js"></script>

<script src="{{ '/public/js/validate/jquery.validate.min.js '|gfut }}"></script>
<script src="{{ '/public/js/validate/messages_zh.min.js '|gfut }}"></script>
<script src="{{ '/public/js/validate_selft.js '|gfut }}"></script>
</body>
</html>

