<style>
    .control-text input{
        display: inline-block;
        width: 80%;
    }
    /*  表单向导完成状态的样式 */
    .complete_state{
        display: inline-block;
        margin: 50px 0 30px;
        border: 2px solid #00b400;
        color: #00b400;
        border-radius: 50%;
    }
    .checkbox-custom, .radio-custom{
        margin-top: 0;
    }
</style>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">创建店铺</h3>
                </div>
                <div class="panel-body">
                    <div class="example">
                        <div class="pearls row">
                            <div class="pearl col-xs-4 done current">
                                <span class="pearl-number">1</span> <span class="pearl-title">确认商户信息</span>
                            </div>
                            <div class="pearl col-xs-4 disabled">
                                <span class="pearl-number">2</span> <span class="pearl-title">店铺设置中</span>
                            </div>
                            <div class="pearl col-xs-4 disabled">
                                <span class="pearl-number">3</span> <span class="pearl-title">激活店铺</span>
                            </div>
                        </div>
                    </div>
                    <form action="{{ path('admin_shop_create') }}" id="createShopForm"  class="wizard-content margin-top-80" id="">
                        <div class="wizard-pane active" id="exampleAccount" role="tabpanel">
                            <div id="exampleAccountForm" class="form-horizontal m-t">
                                <div class="form-group">
                                    <div class="padding-20 padding-top-0 clearfix">
                                        <div class="form-bolck col-sm-12 padding-bottom-20">
                                            <label class="col-sm-4 control-label text-right"><span class="must">*</span>姓名:</label>
                                            <div class="col-sm-5 control-text">
                                                <input name="truename" type="text" class="form-control" placeholder="请输入姓名" required aria-required="true" disabled value="{{ adminUser.aTrueName }}">
                                            </div>
                                        </div>
                                        <div class="form-bolck col-sm-12 padding-bottom-20">
                                            <label class="col-sm-4 control-label text-right"><span class="must">*</span>身份证号:</label>
                                            <div class="col-sm-5 control-text">
                                                <input name="ident_no" type="text" class="form-control id_card" placeholder="请输入身份证号" required aria-required="true" disabled value="{{ adminUser.aIdentNo }}">
                                            </div>
                                        </div>
                                        <div class="form-bolck col-sm-12 padding-bottom-20">
                                            <label class="col-sm-4 control-label text-right">手机号:</label>
                                            <div class="col-sm-5 control-text">
                                                <input readonly disabled name="phone" type="text" class="form-control" placeholder="请输入手机号" value="{% if adminUser.aPhone is not empty %}{{ adminUser.aPhone }}{% else %}{{ registPhone }}{% endif %}">
                                            </div>
                                        </div>
                                        <div class="form-bolck col-sm-12 padding-bottom-20">
                                            <label class="col-sm-4 control-label text-right"><span class="must">*</span>开户行:</label>
                                            <div class="col-sm-5 control-text">
                                                <input readonly disabled name="bank_type" type="text" class="form-control" placeholder="请输入开户行" value="{{ adminUser.aOpenBankName }}">
                                            </div>
                                        </div>
                                        <div class="form-bolck col-sm-12 padding-bottom-20">
                                            <label class="col-sm-4 control-label text-right"><span class="must">*</span>银行卡号:</label>
                                            <div class="col-sm-5 control-text">
                                                <input disabled readonly name="card_no" type="text" class="form-control" placeholder="请输入银行卡号" value="{{ adminUser.aCardNo }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-sm-offset-4 margin-top-30">
                                            <div class="checkbox-custom checkbox-primary">
                                                <input type="checkbox" name="is_agree" {% if partner.isAgree == 2 %}checked="checked"{% endif %} required>
                                                <label>我已阅读<a href="/admin/agreement/1.html" target="_blank">《开店服务协议》</a></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-body container-fluid">
                                        <div class="col-sm-12 col-sm-offset-3" style="margin: 20px 0;text-align: center;">
                                            <button class="btn btn-primary next_btn" style="padding: 8px 26px;font-size:16px;margin-right: 30px" type="button" onclick="createShop_submit();">创建店铺</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wizard-pane" role="tabpanel">
                            <div class="text-center margin-vertical-20">
                                <a href="{{ path('admin_shop_setup') }}" class="btn btn-primary">店铺设置</a>
                            </div>
                        </div>
                        <div class="wizard-pane" id="exampleBilling" role="tabpanel">
                            <div class="text-center margin-vertical-20">
                                <div class="complete_state padding-5">
                                    <i class="icon wb-check font-size-40" aria-hidden="true"></i>
                                </div>
                                <h4 class="margin-bottom-70" style="font-size: 18px;font-weight: 600;">恭喜您，您的店铺已成功激活！</h4>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //  表单必填信息
    $("input[required]").parent().append('<span id="uei_operate_time-error" class="help-block m-b-none" style="display: none;">必填！</span>')
    $('input[required]').blur(function(){
        if($(this).val()==''){
            $(this).parents('.form-bolck').addClass('has-error');
            $(this).parent().find('#uei_operate_time-error').css('display','inline-block');
        }else{
            $(this).parents('.form-bolck').removeClass('has-error').addClass('has-success');
            $(this).parent().find('#uei_operate_time-error').css('display','none');
        }
    });

    {% if partner.isAgree == 2 and partner.partnerName == '' %}
        // todo 去设置
        $('.wizard-pane').eq(1).addClass('active').siblings().removeClass('active');
        $('.pearls .pearl').eq(1).addClass('current').removeClass('disabled').prev().addClass('done').removeClass('current');
        $('body,html').animate({
            scrollTop: 0
        },0);
    {% endif %}

    {% if partner.isAgree == 2 and partner.partnerName != '' %}
        // todo 店铺已激活
        $('.wizard-pane').eq(2).addClass('active').siblings().removeClass('active');
        $('.pearls .pearl').eq(2).addClass('current').removeClass('disabled').siblings().addClass('done').removeClass('current');
        $('body,html').animate({
            scrollTop: 0
        },0);
    {% endif %}


    function createShop_submit(){
        if($('input[type="checkbox"]').prop('checked')){
            fsubmit($("#createShopForm"),function(data){
                msg(data.msg,null,(300==data.code) ? 8 : (200==data.code ? 1 : 2));
                if(data.code == 200){
                    var index = $('.next_btn').parents('.wizard-pane').index();
                    $('.next_btn').parents('.wizard-pane').next().addClass('active').siblings().removeClass('active');
                    $('.pearls .pearl').eq(index).addClass('done').removeClass('current').next().addClass('current').removeClass('disabled');
                    $('body,html').animate({
                        scrollTop: 0
                    },0);
                }else{
                    alert(data.msg);
                }
            });
        }else {
            alert('请阅读《开店服务协议》！')
        }
    }
</script>