<link href="/public/plugins/chosen/chosen.css" rel="stylesheet">
<style>
    .chosen-select{
        width: 100%;
    }

    #pr_photo_file,#pr_photo_file_del{
        position: relative;
        display: inline-block;
        background: #D0EEFF;
        border: 1px solid #99D3F5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
    }
    #pr_photo_file #pr_photo {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }
    #pr_photo_file_del #del_photo {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }
    #pr_photo_file:hover,#pr_photo_file_del:hover {
        background: #AADFFD;
        border-color: #78C3F3;
        color: #004974;
        text-decoration: none;
    }
</style>
<div class="page-container" id="photo_box">
    <div class="page animation-fade page-forms">
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">基础信息</h3>
                        </div>
                        <div class="panel-body">
                            {#<form name="pr_photo_form" enctype="multipart/form-data" id="pr_photo_form" method="post">

                            </form>#}
                            <form name="pr_photo_form" class="form-horizontal fv-form fv-form-bootstrap" enctype="multipart/form-data"  action="{{ path('admin_shop_setup') }}" method="post" id="constraintsForm" onsubmit="return false;">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><span class="must">*</span>店铺名称：</label>
                                    <div class="col-md-3 col-sm-8 form-bolck">
                                        <input name="partner_name"  type="text" class="form-control" required="" aria-required="true" maxlength="20" placeholder="名称必填(最多20个字)" value="{{ partner.partnerName }}">
                                        <input id="" name="" type="hidden" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><span class="must">*</span>上传店铺头像：</label>
                                    <div class="col-sm-8 form-bolck">
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-3">
                                                <a href="javascript:;" id="pr_photo_file">
                                                    <input type="file" accept="image/*" name="file" id="pr_photo" onchange="pr_upload();">
                                                    选择图片
                                                </a>
                                                <a href="javascript:;" id="pr_photo_file_del">
                                                    <input type="input"  style="cursor:default;" name="del_file" id="del_photo" onclick="del_upload();" {% if partnerDaturm['b'][0].pd_url == null %}disabled{% else %}{% endif %}>
                                                    删除图片
                                                </a>
                                                <img width="300" height="300" id="pr_photo_src" style="display:{% if partnerDaturm['b'][0].pd_url == null %}none;{% else %}block;{% endif %}" id="pr_photo_src"  src="{{ admin_bundle.fileHost }}{{ partnerDaturm['b'][0].pd_url }}"/>
                                                <input type="hidden" id="headImg" name="headImg" value="{{ partnerDaturm['b'][0].pd_url }}">
                                            </div>
                                        </div>
	                                    {#{% if partnerDaturm['b'] is not empty %}

                                            <div class="gallerys filelist_{{ partner.partnerId | default(0) }}_b">
                                                {% for d in partnerDaturm['b'] %}

                                                <div class="file-box">
                                                    <span class="cancel" data-id="{{ d.id }}" data-type="{{ d.pd_type }}">删除</span>
                                                    <div class="file">
                                                        <span class="corner"></span>
                                                        <div class="image imgWrap">
                                                            <img alt="image"  class="gallery-pic active img-responsive center-block" src="{{ admin_bundle.fileHost }}{{d.pd_url}}" onclick="openPhotoWin(this)">
                                                            <input type="hidden" name="headImg" value="{{ d.pd_url }}">

                                                        </div>
                                                        <div class="file-name">
                                                            {{ attribute(admin_bundle.file_type,d.pd_type) }}-{{ loop.index }}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                <div class="file-box" style="width: 140px !important;">
                                                    <div class="file">
                                                        <a href="javascript:void(0);" onclick="mopen('/upload/upload.html?p_id={{ partner.partnerId | default(0) }}&f_type=b','资料图片上传',null,['750px','auto']);">
                                                            <span class="corner"></span>
                                                            <div class="image">
                                                                <img alt="image" class="img-responsive center-block" width="100%" src="/public/img/upload.png">
                                                            </div>
                                                            <div class="file-name">
                                                                点击上传图片
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% else %}
                                                <div class="gallerys filelist_{{ partner.partnerId | default(0) }}_b">
                                                    <div class="file-box" style="width: 140px !important;">
                                                        <div class="file">
                                                            <a href="javascript:void(0);" onclick="mopen('/upload/upload.html?p_id={{ partner.partnerId | default(0) }}&f_type=b','资料图片上传',null,['750px','auto']);">
                                                                <span class="corner"></span>
                                                                <div class="image">
                                                                    <img alt="image" class="img-responsive center-block" width="100%" src="/public/img/upload.png">
                                                                </div>
                                                                <div class="file-name">
                                                                    店铺头像
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}#}
                                    </div>
                                    <label class="col-sm-8 control-text col-sm-offset-3"><span style="font-size: 13px;font-weight: 500;">图片上传要求：单张图片小于10M，单次添加不超过1张图片；图片格式支持JPG、JPEG、PNG格式。</span></label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><span class="must">*</span>上传店铺图片：</label>
                                    <div class="col-sm-8">
                                        {% if partnerDaturm['c'] is not empty %}

                                        <div class="gallerys filelist_{{ partner.partnerId | default(0) }}_c">
	                                        {% for d in partnerDaturm['c'] %}
                                                <div class="file-box">
                                                    <span class="cancel" data-id="{{ d.id }}" data-type="{{ d.pd_type }}">删除</span>
                                                    <div class="file">
                                                        <span class="corner"></span>
                                                        <div class="image imgWrap">
                                                            <img alt="image"  class="gallery-pic active img-responsive center-block" src="{{ admin_bundle.fileHost }}{{d.pd_url}}" onclick="openPhotoWin(this)">
                                                            <input type="hidden" name="partnerImg[]" value="{{ d.pd_url }}">

                                                        </div>
                                                        <div class="file-name">
                                                            {{ attribute(admin_bundle.file_type,d.pd_type) }}-{{ loop.index }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <div class="file-box" style="width: 140px !important;">
                                                <div class="file">
                                                    <a href="javascript:void(0);" onclick="mopen('/upload/upload.html?p_id={{ partner.partnerId | default(0) }}&f_type=c','资料图片上传',null,['750px','auto']);">
                                                        <span class="corner"></span>
                                                        <div class="image">
                                                            <img alt="image" class="img-responsive center-block" width="100%" src="/public/img/upload.png">
                                                        </div>
                                                        <div class="file-name">
                                                            点击上传图片
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
	                                {% else %}
                                        <div class="gallerys filelist_{{ partner.partnerId | default(0) }}_c">
                                            <div class="file-box" style="width: 140px !important;">
                                                <div class="file">
                                                    <a href="javascript:void(0);" onclick="mopen('/upload/upload.html?p_id={{ partner.partnerId | default(0) }}&f_type=c','资料图片上传',null,['750px','auto']);">
                                                        <span class="corner"></span>
                                                        <div class="image">
                                                            <img alt="image" class="img-responsive center-block" width="100%" src="/public/img/upload.png">
                                                        </div>
                                                        <div class="file-name">
                                                            店铺图片
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                         </div>
	                                {% endif %}
                                    </div>
                                    <label class="col-sm-8 control-text col-sm-offset-3"><span style="font-size: 13px;font-weight: 500;">图片上传要求：单张图片小于10M，单次添加不超过3张图片；图片格式支持JPG、JPEG、PNG格式。</span></label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><span class="must">*</span>商家地址：</label>
                                    <div class="col-sm-5 form-bolck">
                                        <div class="col-sm-4">
                                            <select name="provinces" id="provinces" class="chosen-select" data-rule-required="true" required onchange="getCity(this.value)">
                                                <option value="-1">--请选择省--</option>
	                                            {% for pro in province_lists %}
                                                    <option value="{{ pro.city_key }}"
                                                            {% if partnerInfo.province == pro.city_key %}selected{% endif %}>{{ pro.city_name }}</option>
	                                            {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <select name="city" id="city" class="chosen-select" data-rule-required="true" onchange="getArea(this.value)">
                                                <option value="-1">--请选择市--</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <select name="area" id="county" class="chosen-select" data-rule-required="true">
                                                <option value="-1">--请选择县/区--</option>
                                            </select>
                                        </div>
                                        {#<div class="col-sm-2">
                                            <select name="area" id="oarea" class="chosen-select" data-rule-required="true">
                                                <option value="">--请选择乡/镇--</option>
                                            </select>
                                        </div>#}
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><span class="must">*</span>详细地址：</label><span style="color:red;">(根据地理位置系统自动获取定位)</span>
                                    <div class="col-md-3 col-sm-8 form-bolck">
                                        <input id="detailAddress" name="detail_address"  type="text" class="form-control" onblur="getGeo();" placeholder="请输入详细地址" value="{{ partnerInfo.partnerDetailAddress }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><span class="must">*</span>位置定位：</label>
                                    <div class="col-sm-8 form-bolck">
                                        <button class="btn btn-primary margin-right-30"  onclick="getGeo(); "type="button">重新获取</button>
                                        <button class="btn btn-primary margin-right-30" onclick="initMap();" type="button">查看地图</button>
                                        <input id="partner_lng" name="partner_lng" type="hidden" class="form-control padding-right-0" value="{{ partner.partnerLng }}" readonly style="display: inline-block;width: 20%;">
                                        <input id="partner_lat" name="partner_lat" type="hidden" class="form-control padding-right-0" value="{{ partner.partnerLat }}" readonly style="display: inline-block;width: 20%;">
                                        <div id="map" style="margin: 20px 0;"></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><span class="must">*</span>商家电话：</label>
                                    <div class="col-md-5 col-sm-8 form-bolck">
                                        <input name="partner_phone"  type="text" class="form-control" required=""  aria-required="true" placeholder="请输入商家电话" value="{{ partner.partnerPhone }}">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">商家简介：</label>
                                    <div class="col-md-5 col-sm-8 form-bolck">
                                        <textarea class="form-control" id="textareaDefault" name="partner_intro" rows="3" maxlength="30" placeholder="请输入商家简单介绍，最多30个汉字">{{ partner.partnerIntro }}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">商家公告：</label>
                                    <div class="col-md-5 col-sm-8 form-bolck">
                                        <textarea name="partner_notice" class="form-control" id="textareaDefault" rows="3" maxlength="30" placeholder="请输入商家简单介绍，最多30个汉字">{{ partner.partnerNotice }}</textarea>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-sm-offset-3" style="margin-top: 20px;">
                                    <button class="btn btn-primary" onclick="shop_submit();return false">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('public/plugins/chosen/chosen.jquery.js') }}"></script>
<script>
//   表单必填
    $("input[required]").parent().append('<span id="uei_operate_time-error" class="help-block m-b-none" style="display:none;">必填！</span>');
    $('input[required]').blur(function(){
        if($(this).val()==''){
            $(this).parents('.form-bolck').addClass('has-error');
            $(this).parent().find('#uei_operate_time-error').css('display','inline-block');
        }else{
            $(this).parents('.form-bolck').removeClass('has-error').addClass('has-success');
            $(this).parent().find('#uei_operate_time-error').css('display','none');
        }
    });
    $(document).ready(function () {
        // 居住地址初始化地址信息
        {% if partnerInfo.province %}
        getCity("{{ partnerInfo.province }}", "{{ partnerInfo.city }}");
        {% endif %}
        {% if partnerInfo.city %}
        getArea("{{ partnerInfo.city }}", "{{ partnerInfo.county }}");
        {% endif %}

        //  初始化下拉框
        var config = {
            ".chosen-select": {},
            ".chosen-select-deselect": {
                allow_single_deselect: !0
            },
            ".chosen-select-no-single": {
                disable_search_threshold: 10
            },
            ".chosen-select-no-results": {
                no_results_text: "Oops, nothing found!"
            },
            ".chosen-select-width": {
                width: "100%"
            }
        };
        for (var selector in config) $(selector).chosen(config[selector]);
    });
// 提交表单
function shop_submit(){
// confirm('您真的确定要提交进件信息吗？',function(){
    fsubmit($("#constraintsForm"),function(data){
        if(data.code == 200){
            alert(data.msg);
            window.location.href = data.openUrl;
        }else{
            alert(data.msg);
        }
});
// },'保存进件信息');
}

function getCity(v, select) {
    fajax("{{ path('admin_city_getcitylist') }}", 'c_id=' + v + '&select=' + select, 'post', 'html', function (data) {
        data = '<option value="">--请选择市--</option>' + data;
        $("#city").html(data);
        $("#city").chosen();
        $("#city").trigger("chosen:updated");
    })
}

function getArea(v, select) {
    fajax("{{ path('admin_city_getcitylist') }}", 'c_id=' + v + '&select=' + select, 'post', 'html', function (data) {
        data = '<option value="">--请选择县--</option>' + data;
        $("#county").html(data);
        $("#county").chosen();
        $("#county").trigger("chosen:updated");
    })
}
    //创建和初始化地图函数：
    function initMap(){
        $('#map').css({
            "width":"700px",
            "height":"550px",
            "font-size":"12px"
        });
        map = new BMap.Map("map");
        var lng = $('#partner_lng').val();
        var lat = $('#partner_lat').val();
        map.centerAndZoom(new BMap.Point(lng,lat),15);//创建地图

        var marker = new BMap.Marker(new BMap.Point(lng, lat)); // 创建标注
        var allOverlay = map.getOverlays();

        if (allOverlay[0] == null) {
            map.addOverlay(marker);
        } else {
            map.removeOverlay(allOverlay[0]);
            map.clearOverlays();
            map.addOverlay(marker);
        }
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMapMarker(map);//向地图添加覆盖物
    }

    function addMapMarker(map){
        map.addEventListener("click",function(e) {
            //通过点击百度地图，可以获取到对应的point, 由point的lng、lat属性就可以获取对应的经度纬度
            var pt = e.point;
            var lng = pt.lng;
            var lat = pt.lat;
            var marker = new BMap.Marker(new BMap.Point(lng, lat)); // 创建标注
            var allOverlay = map.getOverlays();

            if (allOverlay[0] == null) {
                map.addOverlay(marker);
            } else {
                map.removeOverlay(allOverlay[0]);
                map.clearOverlays();
                map.addOverlay(marker);
            }
            // map.removeOverlay(marker);
            marker.enableDragging(); // 可拖拽
            var geoc = new BMap.Geocoder();
            geoc.getLocation(pt, function (rs) {
                //addressComponents对象可以获取到详细的地址信息
                var addComp = rs.addressComponents;
                var site = addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber;

                // var label = new BMap.Label(site,{offset:new BMap.Size(20,-10)});
                // marker.setLabel(label);

                //将对应的HTML元素设置值
                // $("#site").val(site);
                $("#partner_lng").val(lng);
                $("#partner_lat").val(lat);
            });
        })
    }
    //向地图添加控件
    function addMapControl(){
        var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
        scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
        map.addControl(scaleControl);
        var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(navControl);
        var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
        map.addControl(overviewControl);
    }

    function setMapEvent(){
        map.enableScrollWheelZoom();
        map.enableKeyboard();
        map.enableDragging();
        map.enableDoubleClickZoom()
    }
    function getGeo(){
        var provinces = $('#provinces').find('option:selected').html();
        var city = $('#city').find('option:selected').html();
        var county = $('#county').find('option:selected').html();
        var detailAddress = $('#detailAddress').val();
        var address = provinces + city + county + detailAddress;
        // 百度地图API功能
        var map = new BMap.Map("map");
        var point = new BMap.Point();
        map.centerAndZoom(point,12);
        // 创建地址解析器实例
        var myGeo = new BMap.Geocoder();
        // 将地址解析结果显示在地图上,并调整地图视野
        var geo = myGeo.getPoint(address, function(point){
            if (point) {
                map.centerAndZoom(point, 16);
                map.addOverlay(new BMap.Marker(point));
                // alert(point.lng+"|"+point.lat);
                $('#partner_lng').val(point.lng);
                $('#partner_lat').val(point.lat);

            }else{
                alert("您选择地址没有解析到结果!");
            }
            return 1;
        });
    }
    function pr_upload() {
        if(!/.+\.(jpg|jpeg|gif|png)/.test($("#pr_photo").val())){
            alert('图片格式不正确，请选择正确的图片!');
        }else{
            $('form[name="pr_photo_form"]').ajaxSubmit({
                url:"{{ admin_bundle.uploadFileUrl }}",
                headers:{'Authorization':hex_md5(data_str)},
                beforeSubmit:function(a,b,c){
                    backOff(true);
                },
                success:function(data){
                    msg(data.msg);
                    if(2000 == data.status){
                        $("#pr_photo_src").attr("src", '{{ admin_bundle.fileHost }}'+data.result.url);
                        $('#headImg').val(data.result.url);
                        $("#pr_photo_src").css("display",'block');
                        $("#pr_photo_src").show();
                        $('#del_photo').removeAttr('disabled');
                    }
                    backOff(false);
                },
                error : function(result) {
                    console.log(result);
                    msg('上传失败!');
                    backOff(false);
                },
                resetForm:true,
                dataType:'json'
            });
            return false;
        }
    }
    function del_upload(){
        obj = new Object();
        obj.url = '{{ gcate_info.gcImg }}';
        var that = $(this);
        fajax('/upload/del_img.html',obj,'post','json',function(d){
            alert(d.msg);
            if(200 == d.code){
                $('#headImg').val('');
                $("#pr_photo_src").attr("src",'');
                $("#pr_photo_src").css("display",'none');
                $('#del_photo').attr('disabled','disabled');
                $("#pr_photo").val("");
            }
        });

    }
// 删除资料
$(".file-box").delegate(".cancel","click",function(){
    obj = new Object();
    obj.id = $(this).attr('data-id');
    obj.p_type = $(this).attr('data-type');
    var that = $(this);
    fajax('/upload/del.html',obj,'post','json',function(d){
        if(200 == d.code){
            that.parent().remove();
        }else if(201 == d.code){
            that.parent().remove();
        }
        alert(d.msg);
    });
});

</script>