<link rel="stylesheet" href="/public/plugins/select2/select2.css">
<style>
    .number_input{
        width: 90%;
        display: inline-block;
        margin-right: 5px;
    }
</style>
<div class="page-container">
    <div class="page animation-fade page-forms">
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <form class="form-horizontal fv-form fv-form-bootstrap" action="/goods/edit_spec_price.html" method="post" id="addSpecForm"  onsubmit="fsubmit(this);return false;">
                            <div class="form-group form-bolck">
                                <label class="col-sm-3 control-label">规格类别：</label>
                                <div class="col-sm-7 control-text">
                                    <select  name="gn_spec_type" id="gn_spec_type" class="form-control" required data-rule-required="true">
                                        <option value="0">--请选择规格类型--</option>
                                        {% for gsk,gsv in admin_bundle.spec_type %}
                                            <option {% if spec_price.gnSpecType == gsk %} selected="selected" {% endif %} value="{{ gsk }}">{{ gsv }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-bolck">
                                <label class="col-sm-3 control-label">规格单位：</label>
                                <div class="col-sm-7  control-text">
                                    <select name="gn_spec_unit" id="gn_spec_unit" class="form-control" required data-rule-required="true">
                                        <option value="kg" {% if gn_spec_unit=='kg' %}selected{% endif %}>kg</option>
                                        <option value="ml" {% if gn_spec_unit=='ml' %}selected{% endif %}>ml</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-bolck">
                                <label class="col-sm-3 control-label">规格值：</label>
                                <div class="col-sm-7">
                                    <input name="gn_spec_num" data-rule-number="true" value="{{ gn_spec_num }}" type="text" class="form-control number_input" required=""  aria-required="true" placeholder="请输入值" value="" data-rule-number="true">
                                    <input type="hidden" name="gn_id" value="{{ spec_price.gnId }}" />
                                </div>
                            </div>
                            <div class="form-group form-bolck">
                                <label class="col-sm-3 control-label">单价：</label>
                                <div class="col-sm-7">
                                    <input name="gn_price" value="{{ spec_price.gnPrice }}" type="text" class="form-control number_input" required=""  aria-required="true" data-rule-number="true" placeholder="请输入单价" data-rule-number="true">元
                                </div>
                            </div>
                            <div class="form-group form-bolck">
                                <label class="col-sm-3 control-label">剩余库存值：</label>
                                <div class="col-sm-7">
                                    <input name="gn_stock" value="{{ spec_price.gnStock }}" type="text" class="form-control number_input" required=""  aria-required="true" data-rule-number="true" placeholder="请输入库存值" data-rule-number="true">件
                                </div>
                            </div>
                            <div class="form-group form-bolck">
                                <label class="col-sm-3 control-label">库存值提醒：</label>
                                <div class="col-sm-7">
                                    <input name="gn_stock_remind" value="{{ spec_price.gnStockRemind }}"  type="text" class="form-control number_input" required="" data-rule-number="true" aria-required="true" placeholder="请输入库存值提醒" data-rule-number="true">件
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
