<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>{{ admin_bundle.title }}</title>

    <meta name="keywords" content="{{ admin_bundle.keywords }}">
    <meta name="description" content="{{ admin_bundle.description }}">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link href="{{ '/public/css/bootstrap.min.css'|gfut }}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ '/public/css/animate.min.css'|gfut }}" rel="stylesheet">
    <link href="{{ '/public/css/style.min.css'|gfut }}" rel="stylesheet">
    <style>
        /*  注册成功的icon样式  */
        .register_success{margin-top: 80px;}
        .icon_success_warp{width: 100px;height: 100px;border-radius: 50%;background-color: #00fb00;color: white;line-height: 100px;font-size: 67px;margin: 50px auto;}
    </style>
</head>
<body style="background:#f3f4f8;">
<div class="register_success clearfix">
    <div class="text-center margin-vertical-20">
        <div class="icon_success_warp">
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <h2 style="font-weight: 600;">您的账户：{{ app.request.get('n') }}, 注册成功！</h2>
        <p>请妥善保管您的密码。</p>
        <a class="btn btn-success" style="padding: 5px 50px;font-size: 18px;margin: 50px 0 40px;" href="/login">立即登录</a>
        <p><span class="btn_time">5</span>秒后，自动跳转至登录页</p>
    </div>
</div>
<script src="{{ '/public/js/jquery.min.js'|gfut }}"></script>
<script>
    (function () {
        var k=5;
        function time(){
            k--;
            if(k<0){
                $('.btn_time').parent().html('跳转至登录页面');
                window.location="/login";
                clearInterval(timer);
            }else {
                $('.btn_time').html(k);
            }
        }
        var timer=setInterval(time,1000);
    })();
</script>
</body>
</html>