<link href="/public/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/public/css/plugins/chosen/chosen.css" rel="stylesheet">
<div class="wrapper wrapper-content fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-content">

                    <form class="form-horizontal m-t" id="commentForm" action="{{ path('admin_admin_userinfo') }}" method="post" onsubmit="fsubmit(this);return false;"> 
                            <div class="form-group">
                                <label class="col-sm-3 control-label">真实姓名：</label>
                                <div class="col-sm-4">
                                    <input id="m_name" name="a_true_name" minlength="2" type="text" class="form-control" required="" aria-required="true" value="{{ user_info.aTrueName }}">
                                    <input id="mid" name="a_id" type="hidden" value="{{ a_id }}">
                                    <input name="province_id" id="province_id" type="hidden" value="{{ city['province_id'] }}">
                                    <input name="city_id" id="city_id" type="hidden" value="{{ city['city_id'] }}">
                                    <input name="area_id" id="area_id"  type="hidden" value="{{ city['area_id'] }}">
                                    <input name="a_department_name" id="department"  type="hidden" value="{{ user_info.aDepartmentName }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">身份证号：</label>
                                <div class="col-sm-4">
                                    <input id="m_ident_no" name="a_ident_no" minlength="18" maxlength="18" type="text" class="form-control" value="{{ user_info.aIdentNo }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">手机号：</label>
                                <div class="col-sm-4">
                                    <input id="m_phone" name="a_phone" minlength="11" maxlength="11" type="text" class="form-control" required="" aria-required="true" value="{{ user_info.aPhone }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">邮箱：</label>
                                <div class="col-sm-4">
                                    <input id="ai_email" name="ai_email" type="text" class="form-control" required="" aria-required="true" value="{{ user_info.aiEmail }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">营业部地址：</label>
                                <div class="form-bolck">
                                    <div class="col-sm-2">
                                        <select name="province" id="province" class="chosen-select" data-rule-required="true" style="width:100%" onchange="getCity(this.value)">
                                            <option value="">--请选择省--</option>
                                            {% for pro_key,pro in province_list %}
                                                <option value="{{pro.city_key}}" {% if city['province_id'] == pro.city_key %}selected{% endif %}>{{pro.city_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select name="city" id="city" class="chosen-select" data-rule-required="true" style="width:100%" onchange="getArea(this.value)">
                                            <option value="">--请选择市--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-bolck">
                                    <div class="col-sm-4 col-sm-offset-3">
                                        <select name="area" id="area" class="chosen-select" data-rule-required="true" style="width:100%">
                                            <option value="">--请选择县--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                                        
                            <div class="form-group">
                                <label class="col-sm-3 control-label">营业部名称：</label>
                                <div class="col-sm-4">
                                    <select name="dt_id" id="dt_id" class="chosen-select" data-rule-required="true" style="width:100%">
                                        <option value="">--请选择营业部--</option>
                                        {% for key,val in deptInfo %}
                                            <option value="{{ val.dt_id }}" {% if user_info.dtId == val.dt_id %}selected{% endif %}>{{ val.dt_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">对应项目：</label>
                                <div class="col-sm-4">
                                    <span>
                                        {% for key,proval in proCateInfo %}
                                        <input type="checkbox" class="i-checks" name="proInfo[{{ proval.pr_id }}]"
                                               value="{{ proval.pr_id }}" {% if proval.current == 1 %}checked{% endif %}>{{ proval.pr_name }}
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                                
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-3">
                                    <button class="btn btn-white" type="reset">重置</button>
                                    <button class="btn btn-primary" type="submit">保存</button>
                                </div>
                            </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ '/public/js/plugins/iCheck/icheck.min.js'|gfut }}"></script>
<script src="/public/js/plugins/chosen/chosen.jquery.js"></script>
<script>
$(document).ready(function() {
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

    //初始化地址信息
    {% if city['province_id'] %}
        getCity("{{city['province_id']}}","{{city['city_id']}}");
    {% endif %}   
    {% if city['city_id'] %}
        getArea("{{city['city_id']}}","{{city['area_id']}}");
    {% endif %}
    
    // 选择省市区重新复制input框value--使用city_key
    $("#province").chosen().change(function(){
        $('#province_id').val($("#province").val());
    });
    $("#city").chosen().change(function(){
        $('#city_id').val($("#city").val());
    });
    $("#area").chosen().change(function(){
        $('#area_id').val($("#area").val());
    });
    
    // 所属营业部赋值
    $("#department_name").chosen().change(function(){
        $('#department').val($("#department_name").val());
    });
    
});
var config = {
    ".chosen-select": {},
    ".chosen-select-deselect": {
        allow_single_deselect: !0
    },
    ".chosen-select-no-single": {
        disable_search_threshold: 10
    },
    ".chosen-select-no-results": {
        no_results_text: "Oops, nothing found!"
    },
    ".chosen-select-width": {
        width: "95%"
    }
};
for (var selector in config) $(selector).chosen(config[selector]);

function getCity(v,select){
    if(!stopFresh()){
        return false;
    }
    fajax("{{path('admin_city_getcitylist')}}",'c_id='+v+'&select='+select,'post','html',function(data){
        data = '<option value="">--请选择市--</option>'+data;
        $("#city").html(data);
        $("#city").chosen();
        $("#city").trigger("chosen:updated");  
    })
}

function getArea(v,select){
    if(!stopFresh()){
        return false;
    }
    fajax("{{path('admin_city_getcitylist')}}",'c_id='+v+'&select='+select,'post','html',function(data){
        data = '<option value="">--请选择县--</option>'+data;
        $("#area").html(data);
        $("#area").chosen();
        $("#area").trigger("chosen:updated");  
    })
}
</script>