<div class="wrapper wrapper-content fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h4>
                        {% if 'Admin_modelForm' in action or 'all' in action %}<button onclick="open_tab(this,'/admin/role/add.html')" href="javascript:void(0);" class="btn btn-primary ">添加角色</button>{% endif %}
                    </h4>
                </div>
                <div class="ibox-content">
                    <div class="jqGrid_wrapper">
                        <div class="ui-jqgrid " id="gbox_table_list_1" dir="ltr" >
                            <div class="ui-jqgrid-view table-responsive" role="grid" id="gview_table_list_1">
                                <div class="ui-jqgrid-titlebar ui-jqgrid-caption" style="min-height: 60px;padding: 10px 8px;">

                                    <div class="fixed-table-toolbar">
                                        <div class="bars pull-left">
                                            <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                                                <div class="columns columns-right btn-group pull-right">
                                                    <div class="input-group">
                                                        <input placeholder="请输入角色名称" id="r_name" class="input-sm form-control" value="{{ params.rname }}" style="width:200px;" type="text"> 
                                                        <span class="input-group-btn"><button type="button" onclick="get{{ tabid }}Page();" class="btn btn-sm btn-primary"> 搜索</button> <button type="button" onclick="$('#m_name').val('');$('#e_name').val('');" class="btn btn-sm btn-white">清空</button></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div  class="ui-jqgrid-hdiv">
                                    <div class="ui-jqgrid-hbox">
                                        <table rel="table" class="ui-jqgrid-htable ui-common-table table table-bordered" role="presentation" aria-labelledby="gbox_table_list_1">
                                            <thead>
                                            <tr class="ui-jqgrid-labels" role="row">
                                                <th id="table_list_1_invdate" role="columnheader" class="ui-th-column ui-th-ltr">
                                                    <div id="jqgh_table_list_1_invdate">
                                                        角色名称
                                                    </div>
                                                </th>
                                                <th id="table_list_1_amount" role="columnheader" class="ui-th-column ui-th-ltr">
                                                    <div id="jqgh_table_list_1_amount">
                                                        添加时间
                                                    </div>
                                                </th>
                                               
                                                <th id="table_list_1_note" role="columnheader" class="ui-th-column ui-th-ltr">
                                                    <div id="jqgh_table_list_1_note">
                                                        操作
                                                    </div>
                                                </th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="ui-jqgrid-bdiv">
                                    <div style="position:relative;">
                                        <div>
                                        </div>
                                        <table id="table_list" tabindex="0" role="presentation" aria-multiselectable="false"
                                               aria-labelledby="gbox_table_list_1" class="ui-jqgrid-btable ui-common-table table table-bordered">
                                            <tbody>
                                            {% for key,role in role_list %}
                                                <tr {{ tabid }}="row" id="1" tabindex="-1" class="jqgrow ui-row-ltr">
                                                    <td role="gridcell" style="" title="{{ role.r_name }}" aria-describedby="table_list_1_invdate"> {{ role.r_name }}</td>
                                                    <td role="gridcell" style="" title="{{ role.r_add_time }}" aria-describedby="table_list_1_name">{{ role.r_add_time }}</td>
                                                    <td role="gridcell" style="" title="note" aria-describedby="table_list_1_note">
                                                        {% if 'Admin_roleForm' in action  or 'all' in action %} <input class="btn btn_ btn-outline btn-primary" onclick="open_tab(this,'/admin/role/{{ role.r_id }}.html')" value="编辑权限" type="button">{% endif %}
                                                        {% if 'Admin_delRole' in action  or 'all' in action %} <input class="btn btn_ btn-outline btn-danger" onclick="confirm('确认删除吗?',function(){mhref('/admin/del/{{ role.r_id }}_role.html');});"  value="删除" type="button">{% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-jqgrid-resize-mark" id="rs_mtable_list_1">
                                &nbsp;
                            </div>


                            <div id="pager_list_1"  class="ui-jqgrid-pager"  dir="ltr">
                                <div class="fixed-table-pagination" style="display: block;">
                                    <div class="pull-right" style="padding: 5px;" id="pages">
                                        {{ page | raw }}
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ include('App\AdminBundle:common:table_color.html.twig',{ 'tabid' : tabid}) }}
<script>
function get{{ tabid }}SearchData(){
    var mname=$('#mname').val();
    var obj=new Object();
    obj.mname=mname;
    return obj
}
</script>