<style>
	.chosen-select{
		width: 100%;
	}
	.number_input{
		width: 100px;
		display: inline-block;
		margin: 0 5px;
	}
</style>
<div id="allmap"></div>
<div class="page-container" id="photo_box">
    <div class="page animation-fade page-forms">
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
	                    <form class="form-horizontal fv-form fv-form-bootstrap" >
	                        <div class="panel-heading">
	                            <h3 class="panel-title">基础信息</h3>
	                        </div>
	                        <div class="panel-body">
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label"><span class="must">*</span>店铺名称：</label>
	                                    <div class="col-md-3 col-sm-8 form-bolck">
	                                        <input disabled name="partner_name"  type="text" class="form-control" required=""  aria-required="true" placeholder="店铺必填" value="{{ partner.partnerName }}">
	                                    </div>
	                                </div>
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label"><span class="must">*</span>上传店铺头像：</label>

	                                    <div class="col-sm-8 form-bolck">
											{% if partnerDaturm['b'] is not empty %}

	                                            <div class="gallerys filelist_{{ partner.partnerId | default(0) }}_b">
													{% for d in partnerDaturm['b'] %}

	                                                    <div class="file-box">
	                                                        <div class="file">
	                                                            <span class="corner"></span>
	                                                            <div class="image imgWrap">
	                                                                <img alt="image"  class="gallery-pic active img-responsive center-block" src="{{ admin_bundle.fileHost }}{{d.pd_url}}" onclick="openPhotoWin(this)">
	                                                            </div>
	                                                            <div class="file-name">
																	{{ attribute(admin_bundle.file_type,d.pd_type) }}-{{ loop.index }}
	                                                            </div>
	                                                        </div>
	                                                    </div>
													{% endfor %}
	                                            </div>
											{% else %}

											{% endif %}
	                                    </div>
	                                </div>
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label"><span class="must">*</span>上传店铺图片：</label>
	                                    <div class="col-sm-8">
											{% if partnerDaturm['c'] is not empty %}

	                                            <div class="gallerys filelist_{{ partner.partnerId | default(0) }}_c">
													{% for d in partnerDaturm['c'] %}
	                                                    <div class="file-box">
	                                                        <div class="file">
	                                                            <span class="corner"></span>
	                                                            <div class="image imgWrap">
	                                                                <img alt="image"  class="gallery-pic active img-responsive center-block" src="{{ admin_bundle.fileHost }}{{d.pd_url}}" onclick="openPhotoWin(this)">
	                                                            </div>
	                                                            <div class="file-name">
																	{{ attribute(admin_bundle.file_type,d.pd_type) }}-{{ loop.index }}
	                                                            </div>
	                                                        </div>
	                                                    </div>
													{% endfor %}
	                                            </div>
											{% else %}
											{% endif %}
	                                    </div>
	                                </div>
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label"><span class="must">*</span>商家地址：</label>
	                                    <div class="col-sm-5 form-bolck">
	                                        <div class="col-sm-4">
	                                            <select disabled name="provinces" id="provinces" class="chosen-select" data-rule-required="true" required onchange="getCity(this.value)">
	                                                <option value="">--请选择省--</option>
													{% for pro in province_lists %}
	                                                    <option value="{{ pro.city_key }}"
														        {% if partnerInfo.province == pro.city_key %}selected{% endif %}>{{ pro.city_name }}</option>
													{% endfor %}
	                                            </select>
	                                        </div>
	                                        <div class="col-sm-4">
	                                            <select disabled name="city" id="city" class="chosen-select" data-rule-required="true" onchange="getArea(this.value)">
	                                                <option value="">--请选择市--</option>
	                                            </select>
	                                        </div>
	                                        <div class="col-sm-4">
	                                            <select disabled name="area" id="county" class="chosen-select" data-rule-required="true">
	                                                <option value="">--请选择县/区--</option>
	                                            </select>
	                                        </div>
											{#<div class="col-sm-2">
												<select name="area" id="oarea" class="chosen-select" data-rule-required="true">
													<option value="">--请选择乡/镇--</option>
												</select>
											</div>#}
	                                    </div>

	                                </div>
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label">详细地址：</label>
	                                    <div class="col-md-3 col-sm-8 form-bolck">
	                                        {{ partnerInfo.partnerDetailAddress }}
	                                    </div>
	                                </div>
		                        <div id="allmap"></div>
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label"><span class="must">*</span>位置定位：</label>
	                                    <div class="col-sm-8 form-bolck">
	                                        <button class="btn btn-primary margin-right-30" onclick="getGeo();" type="button">获取定位</button>
	                                        <button class="btn btn-primary margin-right-30" onclick="initMap();" type="button">查看地图</button>
	                                        <input id="partner_lng" name="partner_lng" type="hidden" class="form-control padding-right-0" value="{{ partner.partnerLng }}" readonly style="display: inline-block;width: 20%;">
	                                        <input id="partner_lat" name="partner_lat" type="hidden" class="form-control padding-right-0" value="{{ partner.partnerLat }}" readonly style="display: inline-block;width: 20%;">
	                                    </div>
		                                <!--百度地图容器-->
		                                <div id="map"></div>

	                                </div>
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label"><span class="must">*</span>商家电话：</label>
	                                    <div class="col-md-3 col-sm-8 form-bolck">
	                                        {{ partner.partnerPhone }}

	                                    </div>
	                                </div>
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label">商家简介：</label>
	                                    <div class="col-md-3 col-sm-8 form-bolck">
	                                        <textarea class="form-control" id="textareaDefault" name="partner_intro" rows="3" disabled maxlength="30" placeholder="请输入商家简单介绍，最多30个汉字">{{ partner.partnerIntro }}</textarea>
	                                    </div>
	                                </div>
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label">商家公告：</label>
	                                    <div class="col-md-3 col-sm-8 form-bolck">
	                                        <textarea name="partner_notice" class="form-control" id="textareaDefault" rows="3" disabled maxlength="30" placeholder="请输入商家简单介绍，最多30个汉字">{{ partner.partnerNotice }}</textarea>
	                                    </div>
	                                </div>
	                        </div>
		                    <div class="panel-heading">
			                    <h3 class="panel-title">配送信息</h3>
		                    </div>
		                    <div class="panel-body">
			                    <div class="form-group">
				                    <label class="col-sm-3 control-label"><span class="must">*</span> 配送服务：</label>
				                    <div class="col-md-3 col-sm-8">
					                    <select data-plugin="select2" name="is_support_distribut" class="" data-rule-required="true" disabled onchange="distributionState()">
						                    <option value="0" selected>--请选择配送--</option>
						                    <option {% if partner.isSupportDistribut == 1 %} selected {% endif %} value="1">支持配送</option>
						                    <option {% if partner.isSupportDistribut == 2 %} selected {% endif %} value="2">不支持配送</option>
					                    </select>
				                    </div>
			                    </div>
			                    <div class="distributWarp" style="display: none">
				                    <div class="form-group">
					                    <label class="col-sm-3 control-label"><span class="must">*</span>配送范围：</label>
					                    <div class="col-sm-8">
						                    距离商家地址，方圆<input disabled name="distance" type="text" data-rule-number="true" class="form-control padding-right-0 number_input" required=""  aria-required="true" value="{{ partner.distributDistance }}" placeholder="请输入数值">公里（直线距离）
					                    </div>
				                    </div>
				                    <div class="form-group">
					                    <label class="col-sm-3 control-label"><span class="must">*</span>配送费：</label>
					                    <div class="col-sm-8">
						                    <div class="example-wrap">
							                    <div class="radio-custom radio-primary">
								                    <div class="col-sm-3">
									                    <input type="radio" disabled  {% if partner.freeFreight == 2 %} checked="checked" {% endif %} name="free_freight" value="2">
									                    <label for="inputUnchecked">免运费</label>
								                    </div>
								                    <div class="col-sm-3">
									                    <input type="radio" disabled {% if partner.freeFreight == 1 %} checked="checked" {% endif %} name="free_freight" value="1">
									                    <label for="inputChecked">设置运费</label>
								                    </div>
							                    </div>
						                    </div>
						                    <div class="freightWrap">
							                    <div class="margin-bottom-20">最低运费：<input disabled name="lowestFreightDistance" type="text" data-rule-number="true" class="form-control padding-right-0 number_input" required=""  aria-required="true" value="{{ partner.lowestFreightDistance }}" placeholder="请输入数值">公里以内，运费统一为<input name="lowestFreightMoney" type="text" data-rule-number="true" disabled class="form-control padding-right-0 number_input" required=""  aria-required="true" value="{{ partner.lowestFreightMoney }}" placeholder="请输入数值">元</div>
							                    <div class="margin-bottom-20">附加运费：超过最低运费的距离，每增加<input name="additionFreightDistance" disabled type="text" data-rule-number="true" class="form-control padding-right-0 number_input" required=""  aria-required="true" value="{{ partner.additionFreightDistance }}" placeholder="请输入数值">公里，增加运费<input disabled name="additionFreightMoney" type="text" data-rule-number="true"  data-rule-range="0,10" class="form-control padding-right-0 number_input" required=""  aria-required="true" value="{{ partner.additionFreightMoney }}"  placeholder="请输入数值">元</div>
						                    </div>
					                    </div>
				                    </div>
				                    <div class="form-group">
					                    <label class="col-sm-3 control-label"><span class="must">*</span>订单起送金额：</label>
					                    <div class="col-md-3 col-sm-8">
						                    <input disabled name="sendOutMoney"  type="text" data-rule-number="true" class="form-control" required=""  aria-required="true" placeholder="请输入单笔订单起送金额（数字）" value="{{ partner.sendOutMoney }}" style="display: inline-block;width: 90%;"><span class="padding-left-5">元</span>
					                    </div>
				                    </div>
				                    <div class="form-group">
					                    <label class="col-sm-3 control-label"><span class="must">*</span>配送时间：</label>
					                    <div class="col-sm-8 col-md-4">
						                    <div class="input-group">
                                                <span class="input-group-addon">每天<i class="icon wb-time padding-left-5" aria-hidden="true"></i></span>
							                    <input disabled type="text" class="form-control distribution_time startTime" name="beginDistributTime" required aria-required="true" value="{{ partner.beginDistributTime }}">
							                    <span class="input-group-addon"> 至 </span>
							                    <input disabled type="text" class="form-control distribution_time endTime" name="endDistributTime" required aria-required="true" value="{{ partner.endDistributTime }}">
						                    </div>
					                    </div>
				                    </div>
			                    </div>
		                    </div>
							<div class="panel-heading">
								<h3 class="panel-title">优惠信息</h3>
							</div>
							<div class="panel-body">
							   <div class="form-group">
									<label class="col-sm-3 control-label"><span class="must">*</span>满减活动：</label>
									<div class="col-sm-8">
										{#<button type="button" class="btn btn-outline btn-primary margin-bottom-10" onclick="addActivity()"><i class=" icon wb-plus"></i>添加满减活动</button>#}
										<table class="table table-bordered table-hover table-striped width-full table_add" id="activity_list">
											<thead>
												<tr>
													<th style="min-width: 73px;">活动编号</th>
													<th>开始时间</th>
													<th>结束时间</th>
													<th>购满/元</th>
													<th>满减优惠/元</th>
                                                    {#<th style="min-width: 73px;">创建时间</th>#}
													{#<th style="min-width: 45px;">操作</th>#}
												</tr>
											</thead>
											<tbody>
                                                {% for k,partnerCoupon in partnerCoupons %}
													<tr>
														<td class="loopIndex">{{ loop.index }}</td>
														<td style="min-width: 170px;"><input disabled type='text' name="start_time[]" class='form-control input_hidden selectData startDate' value='{{ partnerCoupon.PcStartTime.format('Y-m-d H:i:s') }}'></td>
														<td style="min-width: 170px;"><input disabled type='text' name="end_time[]"  class='form-control input_hidden selectData endDate' value='{{ partnerCoupon.PcEndTime.format('Y-m-d H:i:s') }}'></td>
														<td><input disabled type="text" data-rule-number="true" name="buy_up[]" class='form-control input_hidden' value='{{ partnerCoupon.PcBuyUp }}'></td>
														<td><input disabled type="text" data-rule-number="true" name="buy_up_subtraction[]" class='form-control input_hidden' value='{{ partnerCoupon.PcBuyUpSubtraction }}'></td>
														<input disabled type='hidden' name="ids[]" class='form-control input_hidden' value='{{ partnerCoupon.pcId }}'>
                                                        {#<td>系统生成</td>#}
														{#<td>
															<a class="delActivity_btn">删除</a>
														</td>#}
													</tr>
                                                {% endfor %}
											</tbody>
										</table>
										（用户只能参与一种满减活动；商家可设置阶梯活动；开始时间和结束时间，为活动上线的周期）
									</div>
							   </div>
								<div class="col-sm-4 col-sm-offset-3" style="margin-top: 20px;">
									{#<button type="button" onclick="partner_submit();" class="btn btn-primary">保存</button>#}
								</div>
							</div>
	                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=HkNTMR9M1Ajc2gZgQTeiQbSraf8hyaGt"></script>
<script>
//  基础信息部分的方法
	$(document).ready(function () {
		// 居住地址初始化地址信息
		{% if partnerInfo.province %}
		getCity("{{ partnerInfo.province }}", "{{ partnerInfo.city }}");
		{% endif %}
		{% if partnerInfo.city %}
		getArea("{{ partnerInfo.city }}", "{{ partnerInfo.county }}");
		{% endif %}

		//  初始化下拉框
		var config = {
			".chosen-select": {},
			".chosen-select-deselect": {
				allow_single_deselect: !0
			},
			".chosen-select-no-single": {
				disable_search_threshold: 10
			},
			".chosen-select-no-results": {
				no_results_text: "Oops, nothing found!"
			},
			".chosen-select-width": {
				width: "100%"
			}
		};
		for (var selector in config) $(selector).chosen(config[selector]);
	});

	function getCity(v, select) {
		fajax("{{ path('admin_city_getcitylist') }}", 'c_id=' + v + '&select=' + select, 'post', 'html', function (data) {
			data = '<option value="">--请选择市--</option>' + data;
			$("#city").html(data);
			$("#city").chosen();
			$("#city").trigger("chosen:updated");
		})
	}
	function getArea(v, select) {
		fajax("{{ path('admin_city_getcitylist') }}", 'c_id=' + v + '&select=' + select, 'post', 'html', function (data) {
			data = '<option value="">--请选择县--</option>' + data;
			$("#county").html(data);
			$("#county").chosen();
			$("#county").trigger("chosen:updated");
		})
	}

//  基础信息部分的方法结束

//  配送信息部分的方法
    //  配送服务状态判断
function distributionState() {
    if( $('select[name="is_support_distribut"]').val() == 1){
        $('.distributWarp').show();
        $('.distributWarp').find('input').attr("disabled", false);
        $('.distributWarp input[required]').attr('required',true);
        $('.distributWarp input[required]').attr('aria-required',true);
    }else{
        $('.distributWarp').hide();
        $('.distributWarp').find('input').attr("disabled", true);
        $('.distributWarp input[required]').attr('required',false);
        $('.distributWarp input[required]').attr('aria-required',false);
    }
}
	distributionState();
	//  配送费
	function feeState() {
		if( $('input:radio:checked').val()==1){
			$('.freightWrap').show();
		}else{
			$('.freightWrap').hide();
		}

	}
	feeState();
	$('input[type=radio]').change(function() {
		feeState();
	});
	//配送时间选择
    var distributTime = document.querySelectorAll('.distribution_time');
	var endTime = {theme:{ bgcolor:"#4e97d9",color:"#ffffff", pnColor:"#00CCFF"},format:"hh:mm:ss",minDate:null};
	for(var dTime=0;dTime<distributTime.length;dTime++){
		jeDate(distributTime[dTime],{
			theme:{ bgcolor:"#4e97d9",color:"#ffffff", pnColor:"#00CCFF"},format:"hh:mm:ss",
			donefun:function(obj) {
				if($(obj.elem).hasClass('startTime')){
                    var sTime = $(obj.elem).val().substr(0,3)+'00:00';
					endTime.minDate = sTime; //开始日选好后，重置结束日的最小日期
					endTimes();
				}
			},
		})
	}
	function endTimes() {
		endTime.trigger = false;
		jeDate('.endTime',endTime)
	}
//  配送信息部分的方法结束

//  优惠信息部分的方法
		// 提交表单
		function partner_submit(){
			// confirm('您真的确定要提交进件信息吗？',function(){
			fsubmit($("#adminShopEditForm"),function(data){
				msg(data.msg,null,(300==data.code) ? 8 : (200==data.code ? 1 : 2));
				if(data.code == 200){
					console.log(data);
				}else{
					alert(data.msg);
				}
			});
			// },'保存进件信息');
		}

		//   一次绑定多个时间选择
		function dataBind() {
            //   获取当前时间
            nowTime();
			var jel = document.querySelectorAll(".selectData");
            var end={
                theme:{ bgcolor:"#4e97d9",color:"#ffffff", pnColor:"#00CCFF"},
                format: "YYYY-MM-DD hh:mm:ss",
                isToday:false,
                minDate: now_date,

			};
            for(var j=0;j<jel.length;j++){
                jeDate(jel[j],{
                    theme:{ bgcolor:"#4e97d9",color:"#ffffff", pnColor:"#00CCFF"},
                    format: "YYYY-MM-DD hh:mm:ss",
                    minDate: now_date,
                    donefun:function(obj) {
                        if($(obj.elem).hasClass('startDate')){
                            var sTime = $(obj.elem).val().substr(0,10);
                            end.minDate = sTime; //开始日选好后，重置结束日的最小日期
                            endDates();
                        }
                    },
                });
            }
            //这里是日期联动的关键
            function endDates() {
                end.trigger = false;
                var eDate = document.querySelectorAll('.endDate');
                for(var e=0;e<eDate.length;e++){
                    jeDate(eDate[e],end)
				}
            }
        }
        dataBind();

//  优惠信息部分的方法结束

		//创建和初始化地图函数：
		function initMap(){
		    $('#map').css({
                "width":"700px",
                "height":"550px",
                "font-size":"12px"
            });
			map = new BMap.Map("map");
			var lng = $('#partner_lng').val();
			var lat = $('#partner_lat').val();
			map.centerAndZoom(new BMap.Point(lng,lat),15);//创建地图

			var marker = new BMap.Marker(new BMap.Point(lng, lat)); // 创建标注
			var allOverlay = map.getOverlays();

			if (allOverlay[0] == null) {
				map.addOverlay(marker);
			} else {
				map.removeOverlay(allOverlay[0]);
				map.clearOverlays();
				map.addOverlay(marker);
			}
			setMapEvent();//设置地图事件
			addMapControl();//向地图添加控件
			addMapMarker(map);//向地图添加覆盖物
		}

		function addMapMarker(map){
			map.addEventListener("click",function(e) {
				//通过点击百度地图，可以获取到对应的point, 由point的lng、lat属性就可以获取对应的经度纬度
				var pt = e.point;
				var lng = pt.lng;
				var lat = pt.lat;
				var marker = new BMap.Marker(new BMap.Point(lng, lat)); // 创建标注
				var allOverlay = map.getOverlays();

				if (allOverlay[0] == null) {
					map.addOverlay(marker);
				} else {
					map.removeOverlay(allOverlay[0]);
					map.clearOverlays();
					map.addOverlay(marker);
				}
				// map.removeOverlay(marker);
				marker.enableDragging(); // 可拖拽
				var geoc = new BMap.Geocoder();
				geoc.getLocation(pt, function (rs) {
					//addressComponents对象可以获取到详细的地址信息
					var addComp = rs.addressComponents;
					var site = addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber;

					// var label = new BMap.Label(site,{offset:new BMap.Size(20,-10)});
					// marker.setLabel(label);

					//将对应的HTML元素设置值
					// $("#site").val(site);
					$("#partner_lng").val(lng);
					$("#partner_lat").val(lat);
				});
			})
		}
		//向地图添加控件
		function addMapControl(){
			var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
			scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
			map.addControl(scaleControl);
			var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
			map.addControl(navControl);
			var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
			map.addControl(overviewControl);
		}

		function setMapEvent(){
			map.enableScrollWheelZoom();
			map.enableKeyboard();
			map.enableDragging();
			map.enableDoubleClickZoom()
		}
		function getGeo(){
			var provinces = $('#provinces').find('option:selected').html();
			var city = $('#city').find('option:selected').html();
			var county = $('#county').find('option:selected').html();
			var detailAddress = $('#detailAddress').val();
			var address = provinces + city + county + detailAddress;
			// 百度地图API功能
			var map = new BMap.Map("allmap");
			var point = new BMap.Point();
			map.centerAndZoom(point,12);
			// 创建地址解析器实例
			var myGeo = new BMap.Geocoder();
			// 将地址解析结果显示在地图上,并调整地图视野
			var geo = myGeo.getPoint(address, function(point){
				if (point) {
					map.centerAndZoom(point, 16);
					map.addOverlay(new BMap.Marker(point));
					// alert(point.lng+"|"+point.lat);
					$('#partner_lng').val(point.lng);
					$('#partner_lat').val(point.lat);

				}else{
					alert("您选择地址没有解析到结果!");
				}
				return 1;
			});
		}
</script>